<template>
  <div id="ReviewersList">
    <q-table
      :columns="columns"
      :rows="reviewers"
      :filter="data.tableFilter"
      table-header-class="text-white bg-primary"
      wrap-cells
      flat
    >
      <template v-slot:top>
        <q-btn
          label="Add Reviewer"
          style="margin-left: -15px"
          color="primary"
          icon="add"
          no-caps
          @click="(data.showReviewerPopup = true), (data.selectedModel = {})"
        />

        <q-space />

        <q-input
          borderless
          dense
          debounce="300"
          v-model="data.tableFilter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template #body-cell-fullname="props">
        <q-td :props="props">
          <span>{{
            `${props.row.first_name} ${props.row.last_name ?? ""}`
          }}</span>
        </q-td>
      </template>

      <!-- Position Template -->
      <template #body-cell-role="props">
        <q-td :props="props">
          <q-select
            label="Position"
            v-model="props.row.position"
            :options="data.positionOptions"
            map-options
            emit-value
            dense
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No Results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </q-td>
      </template>

      <template #body-cell-actions="props">
        <q-td :props="props" class="text-no-wrap">
          <q-btn
            title="Edit"
            icon="edit"
            color="primary"
            flat
            round
            dense
            @click="onEditHandler(props.row)"
          />

          <q-btn
            title="Delete"
            icon="delete"
            color="negative"
            flat
            round
            dense
            @click="onDeleteHandler(props.row)"
          />
        </q-td>
      </template>
    </q-table>

    <show-details-popup
      v-if="data.showReviewerPopup"
      @onClose="data.showReviewerPopup = false"
      headerBgPrimary
      noOk
      persistent
      :width="'600'"
    >
      <template #title>{{
        data.selectedModel.id
          ? `Update ${data.selectedModel.first_name}`
          : "Add Reviewer"
      }}</template>

      <template #content>
        <ReviewerForm
          :model="data.selectedModel"
          @onSubmit="onSubmit"
          class="q-pt-lg"
        />
      </template>
    </show-details-popup>
  </div>
</template>

<script setup>
import api from "src/js/api";
import dialog from "src/utils/dialog";
import notify from "src/utils/notify";
import { onMounted, reactive, ref } from "vue";
import ShowDetailsPopup from "src/components/shared/ShowDetailsPopup.vue";
import ReviewerForm from "./ReviewerForm.vue";

const columns = [
  {
    label: "Full Name",
    name: "fullname",
    field: "fullname",
    align: "left",
    sortable: true,
    classes: 'text-capitalize'
  },
  {
    label: "Email",
    name: "email",
    field: "email",
    align: "left",
    sortable: true,
  },
  {
    label: "Contact Number",
    name: "contact_number",
    field: "contact_number",
    align: "left",
    sortable: true,
  },
  {
    label: "Position",
    name: "position",
    field: "position",
    align: "left",
    sortable: true,
  },
  {
    label: "Affiliate",
    name: "affiliate",
    field: "affiliate",
    align: "left",
    sortable: true,
  },
  {
    label: "actions",
    name: "actions",
    field: "actions",
    align: "right",
  },
];

let data = reactive({
  list: [],
  selectedModel: {},
  tableFilter: "",
  showReviewerPopup: false,
  api: "users?r=reviewers",
});
const reviewers = ref([]);

onMounted(() => {
  getJournalReviewers();
});

const getJournalReviewers = () => {
  api.get(data.api)
    .then((response) => {
      if (response.data.length > 0) {
        let tempReviewers = [];
        response.data.map((reviewer) => {
          reviewer.fullname = `${reviewer.first_name} ${reviewer.last_name}`;

          tempReviewers.push(reviewer)
        });

        reviewers.value = tempReviewers;
      }
    })
    .catch((error) => console.error(error));
};

const onEditHandler = (model) => {
  data.showReviewerPopup = true;
  data.selectedModel = model;
};

const onDeleteHandler = (model) => {
  dialog.confirmDelete(() => {
    api.delete(`${data.api}/${model.id}`)
      .then((response) => {
        notify.setup(res.data, "Successfully Deleted");

        if (res.data) data.list = data.list.filter((x) => x.id != model.id);
      })
      .catch((error) => console.error(error));
  });
};

const onSubmit = () => {
  data.showUserPopup = false;
  getJournalReviewers();
};
</script>