<template>
  <div id="JournalList">
    <q-table :columns="columns" :rows="articles" :filter="data.tableFilter" table-header-class="text-white bg-primary"
      wrap-cells flat>
      <template v-slot:top>
        <div class="full-width flex justify-end">
          <q-input borderless dense debounce="300" v-model="data.tableFilter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </template>

      <template #body-cell-title="props">
        <q-td :props="props">
          <span>{{ props.row.title }}</span>
        </q-td>
      </template>

      <!-- Journals Options -->

      <template #body-cell-journal_issue="props" v-if="authUser.role_code == 1">
        <q-td :props="props">
          <q-select
            v-model="props.row.journal_id"
            :options="journalOptions"
            map-options
            emit-value
            dense
            @update:model-value="val => updateJournalIdHandler(props.row.id, val)"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">
                  No results
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </q-td>
      </template>

      <template #body-cell-actions="props">
        <q-td :props="props" class="text-no-wrap">
          <q-btn @click="reviewHandler(props.row)" title="Review" icon="preview" color="secondary" flat round dense />
          <q-btn @click="deleteHandler(props.row)" title="Delete" icon="delete" color="negative" flat round dense />
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script setup>
import { reactive, ref } from "@vue/reactivity";
import { onMounted } from "@vue/runtime-core";
import api from "src/js/api";
import dialog from "src/utils/dialog";
import notify from "src/utils/notify";
import { JOURNAL_STATUS_ENUM } from "src/constants/journal-status-enum";
import utils from "src/utils/utils";
import { useRoute, useRouter } from "vue-router";

const router = useRouter()
const route = useRoute()

const columns = [
  {
    label: "Title",
    name: "title",
    field: "title",
    sortable: true,
    align: 'left'
  },
  {
    label: "Lead Author",
    name: "author",
    field: "author",
    sortable: true,
    align: 'left'
  },
  {
    label: "Created Date",
    name: "created_at",
    field: "created_at",
    sortable: true,
    align: 'left',
    format: val => val ? new Date(val).toLocaleDateString() : ''
  },
  {
    label: "Published Date",
    name: "published_at",
    field: "published_at",
    sortable: true,
    align: 'left',
    format: val => val ? new Date(val).toLocaleDateString() : ''
  },
  {
    label: "Status",
    name: "status_label",
    field: "status_label",
    sortable: true,
    align: 'left',
    classes: 'text-capitalize',
    format: val => val.replace('_', ' ')
  },
  {
    label: "Journal Issued",
    name: "journal_issue", // Keep this for display
    field: "journal.title", // Keep this for display
    sortable: true,
    align: "left",
  },
  {
    label: "actions",
    name: "actions",
    field: "actions",
    align: "center",
  },
];

let data = reactive({
  list: [],
  selectedModel: {},
  api: "/articles/admin",
  tableFilter: "",
});

const authUser = ref({})

const articles = ref([])
// actions
onMounted(() => {
  getArticles();
  getJournals();

  const authUserLocalStorage = localStorage.getItem("authUser");
  if (authUserLocalStorage) {
    Object.assign(authUser.value, JSON.parse(authUserLocalStorage))
  }
});


const journalOptions = ref([])

const getJournals = () => {
  api.get('journals')
    .then((response) => {
      if (response.data && response.data.length > 0) {
        journalOptions.value = response.data.map(journal => ({
          label: journal.title,
          value: journal.id
        }));
        // Check the formatted options
      }
      else {
        console.log('No Journals found or data is in an unexpected format');
      }
    })
    .catch(error => {
      console.error(error);
      
    })
}

const getArticles = () => {
  api.get(data.api)
    .then((response) => {
      if (response.data.length > 0) {
        let tempArticles = []

        response.data.map(article => {
          // set manually the lead author
          if (article.article_authors.length > 0) {
            article.author = article.article_authors[0].name
          }

          // set journal status to label
          article.status_label = utils.getObjectKeyByValue(JOURNAL_STATUS_ENUM, article.status)
          tempArticles.push(article)
        })

        articles.value = tempArticles       
      }
    })
    .catch((error) => console.error(error));
}

const reviewHandler = (article) => {
  router.push(`/admin/articles/preview/${article.id}`)
}

const deleteHandler = (journal) => {
  dialog.confirmDelete(() => {
    api.delete(`${data.api}/${journal.id}`)
      .then((response) => {
        notify.setup(response.status, "Successfully deleted");

        if (response.data) {
          articles.value = data.list.filter((x) => x.id != journal.id);
        }
      })
      .catch((err) => console.error(err));
  });
}

const updateJournalIdHandler = (journalId, journal) => {
  api.post(`articles/admin/update/${journalId}`, { journal_id: journal })
      .then(response => {
        notify.setup(response.data, 'Article Updated Successfully')
      })
      .catch(error => {
        console.error(error);
      })
}
</script>