<template>
  <div class="JournalList">
    <template v-if="articleLoaded">
      <div class="row col q-col-gutter-lg q-mx-md">

        <div class="col-12 col-md-8">
          <q-card bordered flat>
            <q-card-section>
              <div class="article-container">
                <div class="q-mb-lg">
                  <div class="j-title text-h5">{{ article.title }}</div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">Authors</div>

                  <div flat v-for="author in article.article_authors" :key="author.id">
                    <div class="q-gutter-y-sm q-mb-lg">
                      <div class="input-text self-center row-12 no-outline text-body1 q-my-sm">
                        <div>Name: {{ author.name }}</div>
                        <div>Affiliate: {{ author.affiliate }}</div>
                        <div>Email: {{ author.email }}</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">Abstract</div>
                  <div v-html="article.abstract"
                    class="input-text self-center full-width no-outline text-body2 text-justify q-my-sm"></div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">Introduction</div>

                  <div v-html="article.introduction"
                    class="input-text self-center full-width no-outline text-body2 text-justify q-my-sm"></div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">Materials and Methods</div>

                  <div v-html="article.method"
                    class="input-text self-center full-width no-outline text-body2 text-justify q-my-sm"></div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">Results and Discussions</div>

                  <div v-html="article.result"
                    class="input-text self-center full-width no-outline text-body2 text-justify q-my-sm"></div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">Conclusion</div>

                  <div v-html="article.conclusion"
                    class="input-text self-center full-width no-outline text-body2 text-justify q-my-sm"></div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">Recommendation</div>

                  <div v-html="article.recommendation"
                    class="input-text self-center full-width no-outline text-body2 text-justify q-my-sm"></div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">References</div>

                  <div v-html="article.references"
                    class="input-text self-center full-width no-outline text-body2 text-justify q-my-sm"></div>
                </div>

                <div class="q-gutter-y-sm q-mb-xl">
                  <div class="j-title text-h5">Acknowledgement</div>

                  <div v-html="article.acknowledgement"
                    class="input-text self-center full-width no-outline text-body2 text-justify q-my-sm"></div>
                </div>
              </div>

              <div v-if="
                showActionBtnsHandler() &&
                !(article.status > 5) &&
                !(
                  article.status > 7 &&
                  article.status < 9 &&
                  article.status != 10
                )
              " class="q-gutter-x-md q-my-md flex justify-end"
              >
                <q-btn @click="rejectJournalHandler" label="Reject" color="negative" no-caps />

                <q-btn label="Approve" @click="approveJournalHandler" color="positive" no-caps />

              </div>
              <div v-if="authUser.role_code == 1 || (article.status == 7 && authUser.role_code == 3)">
                <q-btn 
                  label="APPROVE"
                  color="positive"
                  no-caps
                  @click="approveJournalHandler"
                />
              </div>

              <!-- SuperAdmin Button -->

              <!-- Main publish and unpublish article -->
              <div 
              v-if="article.status == 8 && article.status != 10 && authUser.role_code == 4 && authUser.secondary_role == 'eic'" 
              class="q-gutter-x-md q-my-md flex justify-end"
              >
                <q-btn v-if="article.status != 10" label="Publish" @click="publishArticleHandler" color="positive"
                  no-caps />

                <q-btn v-else label="Unpublish" @click="unPublishArticleHandler" color="negative" no-caps />
              </div>

              <!-- temporary publish and unpublish article -->
              <div
                v-if="article.status === 4 && (authUser.role_code === 4 && authUser.secondary_role === 'managing_editor')"
                class="q-gutter-x-md q-my-md flex justify-end">

                <q-btn label="APPROVE" @click="approveJournalHandler" color="positive" />
              </div>
            </q-card-section>
          </q-card>
        </div>

        <!-- PEER REVIEWER COMMENT -->
        <div class="col-12 col-md-4" v-if="isAuthenticated === false && article.status == 3">
          <q-card bordered flat>

            <q-card-section class="text-subtitle1 text-weight-medium q-mb-sm">
              Reviewers' Comments
            </q-card-section>

            <q-card-section class="q-gutter-y-sm">
              <div v-for="aComment in articleCommentById" :key="aComment.id">
                {{ aComment.comment }}
              </div>
            </q-card-section>

            <q-card-section v-if="authUser.role_code != 3" class="q-mb-md">
              <q-form @submit="onSubmit">
                <q-input bottom-slots v-model="data.form.comment" label="Reviewer Comment">
                  <template v-slot:after>
                    <q-btn round dense flat icon="comment" @click="onSubmit()" :loading="data.form.commentFormLoading" />
                  </template>
                </q-input>
              </q-form>
              <span class="text-caption text-italic text-grey-7">
                Enter the reviewer comment about the article, indicate which part of the article and what to edit.
                It will help the author to revise the part much easier.
              </span>
            </q-card-section>
          </q-card>
        </div>
        <!-- END PEER REVIEWER COMMENT -->

        <div v-if="isAuthenticated" class="col-12 col-md-4">

          <q-card bordered flat class="q-mb-md">
            <q-card-section class="text-subtitle1 text-weight-medium q-mb-sm">
              Keywords
              <div class="q-my-md">
                {{ article.keywords }}
              </div>
            </q-card-section>
          </q-card>

          <!-- UPLOADING PDF template for layout artist, iptbm rechecking, author confirmation -->
          <q-card bordered flat class="q-mb-md" v-if="article.status === 5 && article.status != 10 && authUser.role_code != 3
            && authUser.secondary_role == 'layout_artist'">
            <q-card-section class="text-bold">
              Upload PDF format
            </q-card-section>

            <q-form @submit="onSubmitPDF">
              <q-card-section class="text-subtitle1 text-weight-medium q-mb-sm">
                
                <!-- Templated journal uploader for layour artist and download button for iptbm and author -->
                <q-file clearable label="Upload cover" v-model="layout_data.form.file" accept=".pdf" dense>
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>
                </q-file>
              </q-card-section>
              <q-card-section>
                <q-btn type="submit" label="Upload PDF" color="primary" :loading="layout_data.layoutLoading" no-caps />
              </q-card-section>
            </q-form>
          </q-card>
          <!-- End Upload Template -->

          <!-- DOWNLOAD PDF -->
          <q-card bordered flat class="q-mb-md"
            v-if="article.status == 6 && article.status != 10 && authUser.secondary_role == 'managing_editor' || (article.status == 8 && authUser.role_code == 3)">
            <q-card-section class="text-bold">
              Download PDF
            </q-card-section>
            <q-card-section>
              <q-btn color="primary" label="Download" icon="download" @click="downloadPDF" />
            </q-card-section>
            <div v-if="authUser.secondary_role == 'managing_editor'">
              <q-card-section>
                <div class="text-caption">
                  Check if the layout is approved.
                </div>
                <q-btn
  
                  color="primary" label="Approve" icon="check_circle" @click="approveJournalHandler"
                />
              </q-card-section>
            </div>
          </q-card>
          <!-- END DOWNLOAD PDF -->

          <!-- REVIEWER CARD -->
          <q-card bordered flat>
            <q-card-section v-if="article.status != 10">
              <!-- Add approvers tracking starts from admin to last reviewer -->
              <div class="text-subtitle1 text-weight-medium q-mb-sm">
                Reviewers
              </div>

              <q-list>
                <q-item class="q-px-none" v-for="reviewer in reviewers" :key="reviewer.position">
                  <q-item-section avatar>
                    <q-avatar color="primary" text-color="white">
                      {{ reviewer.position.charAt(0) }}
                    </q-avatar>
                  </q-item-section>

                  <q-item-section>
                    <q-item-label>{{ reviewer.position }}</q-item-label>
                  </q-item-section>

                  <q-item-section side>
                    <q-icon v-if="reviewer.done" name="check" color="green" />

                    <q-icon v-else name="pending" color="grey" />
                  </q-item-section>
                </q-item>
              </q-list>

              <!-- EIC select assigned managerial editor -->
              <div v-if="
                article.status == 3 &&
                authUser.role_code == 4 &&
                authUser.secondary_role == 'eic'
              " class="q-mt-xl">
                <div class="text-subtitle1 text-weight-medium q-mb-sm">
                  Assigned Managerial Editor
                </div>

                <q-select label="Select Managerial Editor" v-model="managerialEditorForm.managerialEditor"
                  class="q-mb-md" :options="managerialEditorsOption" emit-value map-options />

                <q-btn @click="submitManagerialEditorHandler" label="Assign" color="primary" no-caps
                  :disabled="!managerialEditorForm.managerialEditor" :loading="managerialEditorForm.loading" />
              </div>

              <!-- assigned Managing Editor copy link for peer reviewers & send emails  -->
              <div v-if="
                article.status == 3 &&
                article.managing_editor &&
                authUser.role_code == 4 &&
                authUser.secondary_role == 'managing_editor'
              " class="q-mt-xl q-mb-lg">
                <div class="text-subtitle1 text-weight-medium q-mb-sm">
                  Share to peer reviewer
                </div>

                <q-input bottom-slots v-model="managerialEditorForm.email" label="Send to reviewer">
                  <template v-slot:prepend>
                    <q-icon name="email" />
                  </template>

                  <template v-slot:after>
                    <q-btn @click="sendEmailToPeerReviewerHandler" round dense flat icon="send"
                      :loading="peerReviewFormLoading" />
                  </template>

                  <template v-slot:hint>
                    Enter your peer reviewer valid email. Note: Peer reviewer who received an email can access the
                    article and have a control to approve or reject
                  </template>
                </q-input>
              </div>
            </q-card-section>

            <q-card-section v-else>
              <div class="text-h6 text-weight-medium text-red-6">Rejected</div>
            </q-card-section>
          </q-card>


          <!-- REVIEWER COMMENTS -->
          <div class="q-my-md col-6 col-md-5" v-if="authUser.secondary_role == 'managing_editor'">
            <q-card bordered flat>

              <q-card-section class="text-subtitle1 text-weight-medium q-mb-sm">
                Reviewers' Comments
              </q-card-section>

              <q-card-section class="q-gutter-y-sm">
                <div v-for="aComment in articleCommentById" :key="aComment.id">
                  <div class="text-bold">
                    {{ aComment.email }}
                  </div>
                  <div>
                    {{ aComment.comment }}
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>

          <div class="q-my-md col-6 col-md-5" v-if="authUser.secondary_role == 'managing_editor' || authUser.role_code == 3">
            <q-card bordered flat>

              <q-card-section class="text-subtitle1 text-weight-medium q-mb-sm">
                Summarized Comment
              </q-card-section>

              <q-card-section>
                {{ getArticle.comment_summary }}
              </q-card-section>

              <q-card-section class="q-gutter-y-sm" v-if="article.status == 4">
                <q-form @submit="onSubmitSummarizedComment" v-if="authUser.secondary_role == 'managing_editor'">
                  <q-input v-model="me_data.comment_summary" placeholder="Place your summarized comment here"
                    autogrow />
                  <div class="row col items-center">
                    <div class="col-6">
                      Total revision:
                      <div>
                        {{ getArticle.total_resubmit }}
                      </div>
                    </div>
                    <div class="col-6 flex justify-end">
                      <q-btn label="REVISE" @click="onSubmitSummarizedComment()" color="primary"
                        :disabled="me_data.comment_summary == ''" :loading="commentFormLoading" />
                    </div>
                  </div>
                </q-form>
              </q-card-section>
              <q-card-section v-if="article.status == 4 && authUser.role_code == 3">
                <q-btn
                  label="REVISE PAPER" @click="reviseArticleHandler()" color="primary"
                />
              </q-card-section>
            </q-card>
          </div>
          <!-- END REVIEWER COMMENTS -->
        </div>
      </div>
    </template>

    <!-- show loading if article is not yet loaded -->
    <div v-else class="text-center q-pt-xl">
      <q-spinner color="primary" size="5em" />
    </div>
  </div>
</template>

<script setup>
import { computed, reactive, ref } from "@vue/reactivity";
import { onMounted } from "@vue/runtime-core";
import { JOURNAL_STATUS_ENUM } from "src/constants/journal-status-enum";
import api from "src/js/api";
import dialog from "src/utils/dialog";
import notify from "src/utils/notify";
import utils from "src/utils/utils";
import { useRoute, useRouter } from "vue-router";

const props = defineProps(['model'])
const emits = defineEmits('onSubmitPDF')

const route = useRoute()
const router = useRouter()
const articleId = route.params.articleId;
const article = ref({});
const articleComment = ref({});
const articleCommentById = ref([]);
const articlePublicCommentById = ref([]);
const articleLoaded = ref(false);
const authUser = ref({});
const managerialEditorsOption = ref([]);
const managerialEditorForm = reactive({});
const peerReviewFormLoading = ref(false)
const isAuthenticated = ref(null)
const getArticle = ref(null)

const commentFormLoading = ref(false)


// states
const reviewers = computed(() => {
  let result = [];

  // we're basing on article status
  // if article status is 0 (currently reviewing by admin)
  // if status is 1, admin approved and must be shown currently reviewing by next status
  if (article.value.status == 0) {
    let reviewer = {
      position: "Admin",
      name: "Current user",
      done: false,
    };

    result.push(reviewer);
    return result;
  }

  const articleStatus = article.value.status + 1 < 10 ? article.value.status + 1 : 9;

  for (let i = 0; i <= articleStatus; i++) {
    let reviewer = {};

    if (i == 0) {
      continue;
    } 
    else if (i == 1) {
      reviewer = {
        position: "Admin",
        done: true,
      };
    } 
    else {
      if (i == 4) {
        if (article.value.managing_editor) {
          let managingEditor = "...";

          if (managerialEditorsOption.value.length > 0) {
            let managingEditorFound = managerialEditorsOption.value.find(
              (editor) => editor.value == article.value.managing_editor
            );
            managingEditor = managingEditorFound.label;
          }

          reviewer = {
            position: "Managing Editor: " + managingEditor,
            done: true,
          };

          result.push(reviewer);
        } else if (!article.value.managing_editor) {
          reviewer = {
            position: "EIC selecting Managing Editor",
            done: false,
          };

          result.push(reviewer);
          return result;
        }
      }
      else if (i == 5) {
        if (article.value.author_revise) {
          let authorRevise = "...";

          reviewer = { 
            position: 'Author Revising: ' + authorRevise,
            done: true
          }

          result.push(reviewer)

          return result
        }
      }
      else if (i == 6) {
        if (article.value.layout_artist) {
          let layoutArtist = "...";

          reviewer = {
            position: 'Layout Artist: ' + layoutArtist,
            done: true
          }

          result.push(reviewer)

          return result
        }
      }
      else if (i == 7) {
        if (article.value.iptbm) {
          let iptbm = "...";
  
          reviewer = {
            position: 'Iptbm proofreading: ' + iptbm,
            done: true
          }
  
          result.push(reviewer)
          return result
        }
      }
      else if (i == 8) {
        if (article.value.auth) {
          let auth = "...";
  
          reviewer = {
            position: 'Author Confirmation: ' + auth,
            done: true
          }
  
          result.push(reviewer)
          return result
        }
      }

      let position = utils.getObjectKeyByValue(JOURNAL_STATUS_ENUM, i);
      position = position.replace(/_/g, " ").replace("approved", "");

      reviewer = {
        position: position,
        done: i > article.value.status ? false : true,
      };
    }

    result.push(reviewer);
  }

  return result;
});

// actions
onMounted(async () => {
  getPublicArticleComments();

  // if unauthenticated
  isAuthenticated.value = !!articleId

  if (!isAuthenticated.value) {
    const articleUid = route.query.aid

    if (!articleUid) {
      notify.setup(false, null, 'Not found')
    }

    article.value = await getArticleByUid(articleUid)
    return
  }


  if (articleId > 0) {
    article.value = await getArticleById(articleId);

    // Article Comment call
    articleComment.value = getArticleComment(articleId)
  }

  const authUserLocalStorage = localStorage.getItem("authUser");
  if (authUserLocalStorage) {
    Object.assign(authUser.value, JSON.parse(authUserLocalStorage));
  }

  // if status is 3, get managerial editors
  if (article.value.status >= 3) {
    const managerialEditors = await getManagerialEditors();

    let tempManagerialEditorsOption = [];
    managerialEditors.map((managerialEditor) => {
      const editor = {
        label: `${managerialEditor.first_name}${managerialEditor.middle_name ? " " + managerialEditor.middle_name : ""
          } ${managerialEditor.last_name}`,
        value: managerialEditor.id,
      };

      tempManagerialEditorsOption.push(editor);
    });

    managerialEditorsOption.value = tempManagerialEditorsOption;

    if (article.value.managing_editor) {
      managerialEditorForm.managerialEditor = article.value.managing_editor;
    }
  }
  
});

const getArticleById = () => {
  return new Promise((resolve) => {
    api.get(`/articles/admin/${articleId}`)
      .then((response) => {
        resolve(response.data);
        articleLoaded.value = true;
        getArticle.value = response.data          
      })
      .catch((error) => {
        console.error(error);
      });
  });
};

const getArticleByUid = (articleUid) => {
  return new Promise(resolve => {
    api.get(`articles/public/peer-review/${articleUid}`)
      .then(response => {
        resolve(response.data)
        articleLoaded.value = true
      })
      .catch(error => {
        notify.setup(false, null, 'You cannot access this page')
        resolve({})
        console.error(error)
      })
  })
}

const getManagerialEditors = () => {
  return new Promise((resolve) => {
    api.get(`users?r=reviewers&sr=managing_editor`)
      .then((response) => {
        if (response.data.length > 0) {
          resolve(response.data);
        }
      })
      .catch((error) => {
        console.error(error);
      });
  });
};

const submitManagerialEditorHandler = () => {
  managerialEditorForm.loading = true;

  const articleForm = {
    id: article.value.id,
    managing_editor: managerialEditorForm.managerialEditor,
  };

  api.post(`articles/managing-editor`, articleForm)
    .then((response) => {
      notify.setup(!!response.data, "Assign managing editor successfully");

      if (response.data) {
        article.value.managing_editor = managerialEditorForm.managerialEditor;
      }
    })
    .catch((error) => {
      console.error(error);
    })
    .finally(() => {
      managerialEditorForm.loading = null;
    });
};

let layout_data = reactive({
  form: props.model ?? {},
  api: 'articles/admin/upload-file',
  errors: {},
  layoutLoading: false
});

// Set api URL
const userApiUrl = `${layout_data.api}${layout_data.form.id > 0 ? "/" + layout_data.form.id : ""}`;
// Submitting PDF for Layout Artist
const onSubmitPDF = () => {

  layout_data.layoutLoading = true;

  const formData = new FormData()

  formData.append('file', layout_data.form.file)
  layout_data.form.article_id = articleId
  formData.append('id', layout_data.form.article_id)

  dialog.confirm("Confirmation", "Do you want to proceed and send your template?", () => {
    api.post(userApiUrl, formData)
      .then((response) => {
        const articleForm = {
          id: article.value.id,
          status: article.value.status + 1
        };

        updateArticleStatus(articleForm);
        notify.setup(!!response.data, 'PDF Uploaded')
        layout_data.form.file = ref('')
      })
      .catch((error) => {
        console.error(error);
      })
      .finally(() => {
        layout_data.layoutLoading = null;
        layout_data.form.file = ref('')
      })
  }, () => {
    layout_data.layoutLoading = null
  })
}



// DOWNLOAD PDF
const downloadPDF = () => {
  var link = document.createElement("a")
  link.setAttribute('download', getArticle.value.file)
  link.href = `http://localhost:8000/files/${getArticle.value.file}`
  document.body.appendChild(link)
  link.click()
  link.remove()
}
// 


const approveJournalHandler = () => {
  dialog.confirm("Confirmation", "Do you want to approve this journal?", () => {
    const articleForm = {
      id: article.value.id,
      status: article.value.status + 1,
    };

    updateArticleStatus(articleForm);
  });
};

const rejectJournalHandler = () => {
  dialog.confirm("Confirmation", "Do you want to reject this journal?", () => {
    const articleForm = {
      id: article.value.id,
      status: 10,
    };

    updateArticleStatus(articleForm);
  });
};

const updateArticleStatus = (form) => {
  const apiUrl = isAuthenticated.value ? 'articles/status' : 'articles/public/status'

  api.post(apiUrl, form)
    .then((response) => {
      if (response.data.status == false) {
        return notify.setup(false, null, response.data.error);
      }

      notify.setup(
        !!response.data,
        form.status != 10 ? "Article is approved" : "Article is rejected",
        "Something went wrong, please try again later"
      );

      if (response.data) {
        article.value.status = form.status;
      }
    })
    .catch((error) => {
      console.error(error);
    });
};

const showActionBtnsHandler = () => {
  let expectedRole = 0;
  let expectedSecondaryRole = "";

  switch (article.value.status) {
    case 0:
      expectedRole = 2;
      break;

    case 1:
      expectedRole = 4;
      expectedSecondaryRole = "eic";
      break;

    case 2:
      expectedRole = 4;
      expectedSecondaryRole = "iptbm";
      break;

    case 3:
      expectedRole = 4;
      break;

    default:
      break;
  }

  if (authUser.value.role_code == 1) {
    return true;
  }

  return expectedSecondaryRole
    ? expectedRole == authUser.value.role_code &&
    expectedSecondaryRole == authUser.value.secondary_role
    : expectedRole == authUser.value.role_code;
};

const publishArticleHandler = () => {
  dialog.confirm(
    "Are you sure?",
    "Do you want to publish this article?",
    () => {
      const articleForm = {
        id: article.value.id,
        status: 9,
        published_at: new Date().toISOString().slice(0, 19),
      };

      updateArticleStatus(articleForm);
    }
  );
};

const unPublishArticleHandler = () => {
  dialog.confirm(
    "Are you sure?",
    "Do you want to unpublish this article?",
    () => {
      const articleForm = {
        id: article.value.id,
        status: 5,
        published_at: null,
      };

      updateArticleStatus(articleForm);
    }
  );
};

// Peer Reviewer Handler
const sendEmailToPeerReviewerHandler = () => {
  peerReviewFormLoading.value = true

  const articleForm = {
    id: article.value.id,
    email: managerialEditorForm.email
  }

  api.post(`articles/send-peer-review-email`, articleForm)
    .then(response => {
      notify.setup(response.data.indexOf('Sent') > -1, response.data, response.data)
      managerialEditorForm.email = ''
    })
    .catch(error => {
      console.error(error)
    })
    .finally(() => {
      peerReviewFormLoading.value = null
    });
}



// Add Editor Comment
let data = reactive({
  form: props.model ?? {},
  errors: {},
  api: 'articles',
  commentFormLoading: true
})

const onSubmit = () => {
  data.form.aid = route.query.aid
  data.form.e = route.query.e
  data.form.c = data.form.comment

  dialog.confirm("Confirmation", "Do you want to add this comment?", () => {
    api.post(`articles/public/comment`, data.form)
      .then((response) => {
        const articleForm = {
          id: article.value.id,
          status: article.value.status + 1
        };

        updateArticleStatus(articleForm);
        notify.setup(!!response.data, 'Comment Posted')
      })
      .catch((error) => {
        console.error(error);
      })
      .finally(() => {
        data.commentFormLoading = null
        data.form.comment = '' 
      })
  });
}

// Submit Summarized Comments
let me_data = reactive({
  comment_summary: '',
  errors: {},
})

const onSubmitSummarizedComment = () => {
  commentFormLoading.value = true
  dialog.confirm("Confirmation", "Do you want to add this comment?", () => {
    api.post(`articles/admin/update/${articleId}`, me_data)
      .then(response => {
        notify.setup(!!response.data, 'Summarized comment posted')
      })
      .catch(error => {
        console.error(error);
      })
      .finally(() => {
        getPublicArticleComments()
        commentFormLoading.value = null
        me_data.comment_summary = ''
      })
  })
}

const getPublicArticleComments = (publicArticleId) => {
  publicArticleId = route.query.aid;
  
  api.get(`articles`)
    .then(response => {
      if(response.data.length > 0) {
        articlePublicCommentById.value = response.data
      }
    })
}

const getArticleComment = (articleId) => {
  api.get(`article-comments`)
    .then(response => {
      if (response.data.length > 0) {
        articleCommentById.value = response.data.filter(comment => comment.article_id == articleId)
      }
    })
    .catch(error => {
      console.error(error);
    })
}

//Revise paper AUTHOR

const reviseArticleHandler = (articleId) => {
  router.push(`/revise-article/${articleId}`)
}

</script>