<template>
  <div id="UserForm">
    <q-form @submit="onSubmit" class="row q-col-gutter-md">
      <!-- <div class="col-6">
        <q-input label="Subject" v-model="data.form.subject" :rules="[setRules]" hide-bottom-space dense />
      </div> -->
      <div class="col-12">
        <q-input label="Title" v-model="data.form.title" :rules="[setRules]" hide-bottom-space dense />
      </div>

      <div class="col-12">
        <q-input label="Description" v-model="data.form.description" :rules="[setRules]" hide-bottom-space dense />
      </div>

      <div class="col-6">
        <q-input label="Online ISSN" v-model="data.form.online_issn" :rules="[setRules]" hide-bottom-space dense />
      </div>

      <div class="col-6">
        <q-input label="Print ISSN" v-model="data.form.issn" :rules="[setRules]" hide-bottom-space dense />
      </div>

      <div class="col-6">
        <q-file
          label="Upload cover"
          v-model="data.form.file"
          accept="image/*"
          dense
        >
          <template v-slot:prepend>
            <q-icon name="attach_file" />
          </template>
        </q-file>
      </div>
      <q-space />
      <div>
        <q-btn
          type="submit"
          :label="(data.form.id > 0) ? 'Update Issue' : 'Add Issue'"
          color="primary"
          :loading="data.form.loading"
          no-caps 
        />
      </div>
    </q-form>
  </div>
</template>
<script setup>
import api from "src/js/api";
import notify from "src/utils/notify";
import { onMounted, reactive, ref } from "vue";
import { useRoute } from "vue-router";

const route = useRoute()
const props = defineProps(["model"]);
const emits = defineEmits("onSubmit");


let data = reactive({
  form: props.model ?? {},
  errors: {},
  api: "journals",
});

onMounted(() => {
  data.form.currentEmail = data.form.email;

});

const onSubmit = () => {
  data.form.loading = true;

  //set api url
  const userApiUrl = `${data.api}${data.form.id > 0 ? "/" + data.form.id : ""}`;

  // set form data
  const formData = new FormData()

  if (data.form.subject) {
    formData.append('subject', data.form.subject)
  }

  if (data.form.title) {
    formData.append('title', data.form.title)
  }

  if (data.form.description) {
    formData.append('description', data.form.description)
  }

  if (data.form.issn) {
    formData.append('issn', data.form.issn)
  }

  if (data.form.online_issn) {
    formData.append('online_issn', data.form.online_issn)
  }
  
  if (data.form.file) {
    formData.append('file', data.form.file)
  }

  api.post(userApiUrl, formData)
      .then((res) => {
        notify.setup(!!res.data, 'Added new journal');
        if (res.data) emits("onSubmit");
      })
      .catch((err) => {
        console.error(err);
      })
      .finally(() => {
        data.form.loading = null;
      })
};


</script>