<template>
  <div id="JournalFolderList">
    <q-table :columns="columns" :rows="journals" :filter="data.tableFilter" table-header-class="text-white bg-primary"
      wrap-cells flat>
      <template v-slot:top>
        <q-btn label="Add Issue" style="margin-left: -15px" color="primary" icon="add" no-caps
          @click="(data.showFolderPopup = true), (data.selectedModel = {})" />

        <q-space />

        <q-input borderless dense debounce="300" v-model="tableFilter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template #body-cell-actions="props">
        <q-td :props="props" class="text-no-wrap">
          <q-btn
            v-if="!props.row.published_at"
            @click="publishJournalHandler(props.row)"
            title="Publish"
            icon="check_circle"
            color="secondary"
            flat
            round
            dense
          />
          
          <q-btn
            v-else
            @click="unpublishJournalHandler(props.row)"
            title="Unpublish"
            icon="unpublished"
            color="negative"
            flat
            round
            dense
          />

          <q-btn title="Edit" icon="edit" color="primary" flat round dense @click="onEditHandler(props.row)" />

          <q-btn title="Delete" icon="delete" color="negative" flat round dense @click="onDeleteHandler(props.row)" />
        </q-td>
      </template>
    </q-table>

    <show-details-popup v-if="data.showFolderPopup" @onClose="data.showFolderPopup = false, getJournals()" headerBgPrimary noOk
      persistent :width="'600'">
      <template #title>{{
        (data.selectedModel.id > 0)
          ? `Update ${data.selectedModel.title}`
          : "Add Issue"
      }}</template>

      <template #content>
        <JournalFolderForm :model="data.selectedModel" @onSubmit="submitFolderHandler" class="q-pt-sm" />
      </template>
    </show-details-popup>
  </div>
</template>

<script setup>
import ShowDetailsPopup from "src/components/shared/ShowDetailsPopup.vue";
import api from "src/js/api";
import { onMounted, reactive, ref } from "vue";
import JournalFolderForm from "./JournalForm.vue";
import { useRoute } from "vue-router";
import dialog from "src/utils/dialog";
import notify from "src/utils/notify";

const columns = [
  {
    label: "Title",
    name: "title",
    field: "title",
    align: "left",
    sortable: true,
  },
  {
    label: "Description",
    name: "description",
    field: "description",
    align: "left",
    sortable: true,
  },
  {
    label: "Printed ISSN",
    name: "issn",
    field: "issn",
    align: "left",
    sortable: true,
  },
  {
    label: "Online ISSN",
    name: "online_issn",
    field: "online_issn",
    align: "left",
    sortable: true,
  },
  {
    label: "Published Date",
    name: "published_at",
    field: "published_at",
    align: "left",
    sortable: true,
    format: val => val ? new Date(val).toLocaleDateString() : 'Unpublished'
  },
  {
    name: "actions",
    field: "actions",
    align: "right",
  },
];

let data = reactive({
  list: [],
  selectedModel: {},
  tableFilter: "",
  showFolderPopup: false,
  api: "journals",
});
const journals = ref([])

onMounted(() => {
  getJournals();
});

const getJournals = () => {
  api.get(data.api)
    .then((res) => (journals.value = res.data))
    .catch((err) => console.error(err));
};

const submitFolderHandler = () => {
  data.showFolderPopup = false;
  getJournals();
};

const publishJournalHandler = (journal) => {
  dialog.confirm(
    'Are you sure?',
    'Do you want to publish this journal? This will show on public.',
    () => {
      updatePublishJournal(journal, 'publish', 'Successfully published')
    }
  )
}

const unpublishJournalHandler = (journal) => {
  dialog.confirm(
    'Are you sure?',
    'Do you want to unpublish this journal? This will hide the journal with the categories upon approval.',
    () => {
      updatePublishJournal(journal, 'unpublish', 'Successfully unpublished')
    }
  )
}

const updatePublishJournal = (journal, status, successMessage) => {
  api.post(`${data.api}/publish-status/${journal.id}`, { status: status })
    .then(response => {
      notify.setup(response.data, successMessage, 'Something went wrong, please try again later')

      if (response.data) {
        getJournals()
      }
    })
    .catch(error => {
      console.error(error)
    })
    .finally(() => {
    });
}

const onEditHandler = (model) => {
  data.showFolderPopup = true
  data.selectedModel = model
}

function onDeleteHandler(model) {
  dialog.confirmDelete(() => {
    api.delete(`${data.api}/${model.id}`)
      .then(res => {
        notify.setup(res.data, 'Successfully deleted');
        if (res.data) data.list = data.list.filter(x => x.id != model.id);
        getJournals();  
      })
      .catch(err => console.error(err));
  });
}
</script>
