<template>
  <div id="UserForm">
    <q-form @submit="onSubmit" class="row q-col-gutter-md">
      <div class="col-4">
        <q-input
          label="First Name"
          v-model="data.form.first_name"
          :rules="[setRules]"
          hide-bottom-space
          dense
        />
      </div>

      <div class="col-3">
        <q-input
          label="Middle Name"
          v-model="data.form.middle_name"
          dense
        />
      </div>

      <div class="col-3">
        <q-input
          label="Last Name"
          v-model="data.form.last_name"
          :rules="[setRules]"
          hide-bottom-space
          dense
        />
      </div>

      <div class="col-2">
        <q-input
          label="Suffix"
          v-model="data.form.suffix"
          :rules="[setRules]"
          hide-bottom-space
          dense
        />
      </div>

      <div class="col-6">
        <q-input
          label="Email"
          type="email"
          v-model="data.form.email"
          :rules="[setRules]"
          hide-bottom-space
          dense
        />
      </div>

      <div class="col-6">
        <q-input
          label="Contact Number"
          v-model="data.form.contact_number"
          hide-bottom-space
          dense
        />
      </div>

      <div class="col-6">
        <q-input
          label="Password"
          :type="passwordVisibility ? 'password' : 'text'"
          v-model="data.form.password"
          :rules="[setRules]"
          hide-bottom-space
          dense
        >
          <template v-slot:append>
            <q-icon
              :name="passwordVisibility ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="passwordVisibility = !passwordVisibility"
            />
          </template>
        </q-input>
      </div>
      
      <div class="col-6">
        <q-input
          label="Confirm Password"
          :type="passwordConfirmationVisibility ? 'password' : 'text'"
          v-model="data.form.password_confirmation"
          :rules="[setRules]"
          hide-bottom-space
          dense
        >
          <template v-slot:append>
            <q-icon
              :name="passwordConfirmationVisibility ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="passwordConfirmationVisibility = !passwordConfirmationVisibility"
            />
          </template>
        </q-input>
      </div>

      <div class="col-12">
        <q-input
          label="Affiliation"
          v-model="data.form.affiliate"
          dense
        />
      </div>

      <div class="col-6">
        <q-select
          label="Position"
          v-model="data.form.position"
          :options="data.positionOptions"
          map-options
          emit-value
          dense
        >
        </q-select>
      </div>
      <q-space />
      <div>
        <q-btn
          type="submit"
          :label="(data.form.id > 0) ? 'Update Reviewer' : 'Add Reviewer'"
          color="primary"
          :loading="data.form.loading"
          no-caps
        />
      </div>
    </q-form>
  </div>
</template>

<script setup>
import api from "src/js/api";
import { ref, reactive } from "@vue/reactivity";
import notify from "src/utils/notify";
import { onMounted } from "vue";

const props = defineProps(["model"]);
const emits = defineEmits(["onSubmit"]);

const passwordVisibility = ref(true)
const passwordConfirmationVisibility = ref(true)

let data = reactive({
  form: props.model ?? {},
  errors: {},
  api: "users",
  positionOptions: [
    'Editor-in-Chief',
    'IPTBM Reviewer',
    'Managing Editor',
    'Layout Artist'
  ],
  secondaryRoleOptions: [
    {
      label: 'Editor-in-Chief',
      value: 'eic'
    },
    {
      label: 'IPTBM Reviewer',
      value: 'iptbm'
    },
    {
      label: 'Managing Editor',
      value: 'managing_editor'
    },
    {
      label: 'Layout Artist',
      value: 'layout_artist'
    },
    // Removed peer reviewer since peer reviewer email is a free form input
  ]
});

onMounted(() => {
  data.form.currentEmail = data.form.email;
});

const onSubmit = () => {
  data.form.loading = true;
  data.form.role_code = 4;

  if (data.form.position) {
    data.form.secondary_role = data.secondaryRoleOptions.find(secondaryRoleOption => secondaryRoleOption.label.toLowerCase() == data.form.position.toLowerCase()).value
  }

  //set api url
  const userApiUrl = `${data.api}${data.form.id > 0 ? "/" + data.form.id : ""}`

  api.post(userApiUrl, data.form)
    .then((res) => {
      notify.setup(!!res.data);
      if (res.data) emits("onSubmit");
    })
    .catch((err) => {
      console.error(err);
    })
    .finally(() => {
      data.form.loading = null;
    });
};
</script>