<template>
  <q-page>
    <div class="text-h5 q-mb-md">Contact Us</div>

    <AdminContactUsList />
  </q-page>
</template>

<script setup>
import AdminContactUsList from 'src/components/admin/contacts/AdminContactUsList.vue';
</script>