<template>
  <q-page>
    <div class="text-h5 q-mb-md">Reviewers</div>
    
    <AdminJournalReviewerList />
  </q-page>
</template>

<script setup>
import AdminJournalReviewerList from "src/components/admin/journals/AdminJournalReviewerList.vue";
</script>