<template>
  <q-page>
    <div class="text-h5 q-mb-md">Articles</div>
    
    <AdminJournalList />
  </q-page>
</template>
<script setup>
import AdminJournalList from 'src/components/admin/journals/AdminArticleList.vue';
</script>