<template>
    <q-page>
        <q-btn
            to="/admin/articles"
            label="Back to Article List"
            class="q-mb-lg"
            flat
            icon="arrow_back"
            no-caps
        />

        <ArticlePreview />
    </q-page>
</template>
<script setup>
import ArticlePreview from 'src/components/admin/journals/ArticlePreview.vue';
</script>
<style lang="scss"></style>