<template>
  <q-page>
    <div class="text-h5 q-mb-md">Authors</div>

    <AuthorsList />
  </q-page>
</template>
<script setup>
import AuthorsList from "src/components/admin/authors/AuthorsList.vue";
</script>