<template>
  <q-page>
    <div class="text-h5 q-mb-md">Journal Issues</div>
    <Journals />
  </q-page>
</template>
<script setup>
import Journals from 'src/components/admin/journals/Journals.vue';


</script>