<template>
    <q-page id="PageSectionPage">
        <div class="text-h5 q-mb-md">Page Sections</div>

        <page-section-list />
    </q-page>
</template>

<script>
import PageSectionList from 'src/components/admin/page_sections/PageSectionList.vue'
export default {
    components: { PageSectionList },

}
</script>

<style>

</style>