<template>
    <q-page id="RolePage">
        <div class="flex justify-center text-h2 full-height q-mt-xl text-grey-6">Roles</div>
    </q-page>
</template>

<script>
export default {

}
</script>

<style>

</style>