<template>
    <q-page id="UserPage">
        <div class="text-h5 q-mb-md">Users</div>

        <user-list />
    </q-page>
</template>

<script>
import UserList from 'src/components/admin/users/UserList.vue'
export default {
    components: { UserList },

}
</script>

<style>

</style>