<template>
    <div class="show-detail-popup">
        <q-dialog
            v-if="!data.fixed"
            v-model="data.showPopup"
            @hide="onCloseHandler"
            :persistent="data.persistent"
        >
            <q-card style="max-width: 80vw" :style="`width: ${data.width}px;`">
                <q-card-section
                    :class="[
                        data.headerBgPrimary ? 'text-white bg-primary' : '',
                        data.persistent ? 'row item-center' : '',
                    ]"
                    style="flex-wrap: nowrap; align-items: center"
                >
                    <div class="text-h6">
                        <slot name="title"></slot>
                    </div>

                    <q-space v-if="data.persistent" />

                    <q-btn
                        icon="close"
                        flat
                        round
                        dense
                        v-close-popup
                        v-if="data.persistent"
                    />
                </q-card-section>

                <q-card-section class="q-pt-none">
                    <slot name="content"></slot>
                </q-card-section>

                <q-card-actions align="right" v-if="!data.noOk">
                    <q-btn flat label="OK" v-close-popup />
                </q-card-actions>
            </q-card>
        </q-dialog>

        <q-dialog
            v-if="data.fixed"
            v-model="data.showPopup"
            @hide="onCloseHandler"
            :persistent="data.persistent"
            full-height
            full-width
        >
            <q-card>
                <q-card-section
                    :class="[
                        data.headerBgPrimary ? 'text-white bg-primary' : '',
                        data.persistent ? 'row item-center' : '',
                    ]"
                    style="flex-wrap: nowrap; align-items: center"
                >
                    <div class="text-h6">
                        <slot name="title"></slot>
                    </div>

                    <q-space v-if="data.persistent" />

                    <q-btn
                        icon="close"
                        flat
                        round
                        dense
                        v-close-popup
                        v-if="data.persistent"
                    />
                </q-card-section>

                <q-separator />

                <q-card-section style="max-height: calc(100vh - 168px);" class="scroll">
                    <slot name="content"></slot>
                </q-card-section>

                <q-separator />

                <q-card-actions align="right">
                    <q-btn flat label="OK" v-close-popup />
                </q-card-actions>
            </q-card>
        </q-dialog>
    </div>
</template>

<script>
import { reactive } from "@vue/reactivity";
export default {
    props: ["showPopup", "noOk", "headerBgPrimary", "width", "persistent", "fixed"],
    emits: ["onClose"],
    setup(props, { emit }) {
        let data = reactive({
            showPopup: true,
            noOk: props.noOk === "" || props.noOk,
            headerBgPrimary:
                props.headerBgPrimary == "" || props.headerBgPrimary
                    ? true
                    : false,
            width: props.width ?? "700",
            fixed: props.fixed == "" || props.fixed,
            persistent:
                props.persistent == "" || props.persistent ? true : false,
        });

        function onCloseHandler() {
            emit("onClose");
        }

        return {
            data,

            onCloseHandler,
        };
    },
};
</script>

<style>
</style>