<template>
  <q-page class="about-page text-center q-py-xl q-mx-md">
    <div class="q-mx-auto">
      <div class="about-title flex justify-center q-py-lg text-uppercase">
        {{ data.pageSection.header }}
      </div>

      <q-separator />

      <div class="q-py-lg text-justify">
        <div v-html="data.pageSection.content" class="about-page-content q-py-auto">
        </div>
      </div>

      <q-separator />

    </div>
  </q-page>
</template>

<script>
import api from "src/js/api";
import { onMounted, reactive } from "vue";

export default {
  setup() {
    let data = reactive({
      api: "page-sections",
      pageSection: {
        header: "",
        content: "",
      },
    });

    onMounted(() => {
      getPageSection();
    });

    function getPageSection() {
      api
        .get(`${data.api}/about`)
        .then((response) => {
          if (response.status === 200) {
            data.pageSection = response.data;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    }

    return {
      data,
    };
  },
};
</script>

<style lang="scss">
.about-title {
  color: $mono-dark;
  font-size: 28px;

  @media (min-width: 1024px) {
    font-size: 36px;
  }
}

.about-page-content {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
</style>
