<template>
  <q-page class="q-py-lg">
    <div class="constraints-lg">
      <ArticlePreview />
    </div>
  </q-page>
</template>

<script setup>
import ArticlePreview from 'src/components/admin/journals/ArticlePreview.vue';

</script>

<style>

</style>