<template>
  <q-page>
    <div class="article-view q-pa-md">
      <ArticlePageView class="a-view" />
    </div>
  </q-page>
</template>
<script setup>
import ArticlePageView from 'src/components/ArticlePageView.vue';
</script>
<style lang="scss">
.a-view {
  margin-top: 120px;
  margin-left: 180px;
  margin-right: 100px;
  
  @media (max-width: 1024px) {
    margin-left: 150px;
    margin-right: 80px;
  }

  @media (max-width: 768px) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (max-width: 425px) {
    margin-left: 30px;
    margin-right: 30px;
  }
}
</style>