<template>
  <q-page>
    <q-parallax
      :ratio="16 / 9"
      src="../assets/Parallax_bg2.png"
      style="height: 300px"
    >
    <div class="title-container row full-width justify-center">
        <q-img
          src="../assets/JSIT_logo.png"
          style="width: 100%; max-width: 200px"
        />
        <div class="full-width">
          <div
            class="j-title text-center"
           
          >
            {{ journalName.title }}
          </div>
        </div>
      </div>
    </q-parallax>

    <q-page-container>
      <ArticleList />
    </q-page-container>
  </q-page>
</template>

<script setup>
import ArticleList from 'src/components/ArticleList.vue';
import api from 'src/js/api';
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute()

let journalName = ref([])
const pageTitleId = route.params.journalId

onMounted(() => {
  getJournal()   
})

const getJournal = () => {
  api.get(`journals/public/${pageTitleId}`)
    .then((response) => {
      journalName.value = response.data
      console.log(journalName.value);
      
    })
}
</script>

<style lang="scss">
.j-parallax {
  box-shadow: 0px 10px 30px -30px;
  max-height: 400px;
  @media (max-width: 1023px) {
    max-height: 250px;
  }
  @media (max-width: 375px) {
    max-height: 150px;
  }
}
.j-logo {
  width: 100%;
  max-width: 200px;
  @media (max-width: 1023px) {
    max-width: 120px;
  }
  @media (max-width: 375px) {
    max-width: 90px;
  }
}
.j-title {
  font-size: 36px;
  @media (max-width: 1023px) {
    justify-items: center;
    font-size: 24px;
  }
  @media (max-width: 375px) {
    justify-items: center;
    font-size: 18px;
  }
}
</style>