<template>
    <q-page>
        <div class="page-container q-mx-xl q-py-xl">
            <div class="contact-us-container row q-mx-auto">
                <div class="contact-content-container col-12 col-sm-12 col-md-7">
                    <div class="main-title">
                        <div class="top-title">
                            Get in touch.
                        </div>
                        <div class="sub-top-title">Contact us for inquiries</div>
                    </div>

                    <div class="mid-content">
                        <div class="contact-sub-text">Mailing Address</div>
                        <div class="contact-sub-text2">PAC, Magalang, Pampanga, Philippines</div>
                        <!-- <div class="contact-sub-text2">Tele #: (045) 100 - 1001</div> -->
                        <div class="contact-sub-text2">Email: editorjsit2022@psau.edu.ph</div>
                    </div>
                    <div class="editor-content">
                        <div class="contact-sub-text q-mb-sm">Principal Contact</div>
                        <div class="contact-sub-text">Jasmin S. Villanueva</div>
                        <div class="contact-sub-text2">Editor-in-Chief</div>
                        <!-- <div class="contact-sub-text2">Tele #: (045) 100 - 1001</div> -->
                        <div class="contact-sub-text2">Email: jasmin_villanueva@psau.edu.ph</div>
                    </div>
                </div>
                <div class="contact-form-container col-12 col-sm-12 col-md-5">
                    <ContactForm/>
                </div>
            </div>
        </div>
    </q-page>
</template>
<script>
import ContactForm from "src/components/ContactForm.vue";

export default {
    components: { ContactForm },
};
</script>
<style lang="scss">
.page-container {
    display: flex;
    justify-content: center;
}
.contact-us-container {
    @media (min-width: 1024px) {
        width: 60%;
    }
}
// top text content 
.main-title {
    margin-bottom: 42px;
}
.top-title {
    font-size: 30px;
    font-weight: bold;
    @media (min-width: 1024px) {
        font-size: 60px;
        margin-bottom: -16px;
    }
}
//end top text content
//mid text content
.mid-content {
    margin-bottom: 42px;
}
.sub-top-title {
    font-size: 16px;
    @media (min-width: 1024px) {
        font-size: 18px;
    }
}
.contact-sub-text {
    font-size: 16px;
    font-weight: bold;
    @media (min-width: 1024px) {
        font-size: 18px;
    }
}
//end mid text content
.contact-sub-text2 {
    font-size: 16px;
    color: $mono-dark;
    @media (min-width: 1024px) {
        font-size: 18px;
    }
}
.contact-form-container {
    margin-bottom: 300px;
}
</style>