<template>
  <q-page class="c-page q-mx-xl q-py-xl">
    <div class="q-mx-auto">
      <div class="about-title flex justify-center q-py-lg">
        {{ data.pageSection.header }}
      </div>

      <q-separator />

      <div class="q-py-lg text-justify">
        <div v-html="data.pageSection.content" class="about-page-content flex justify-center q-py-auto">
        </div>
      </div>
    </div>
  </q-page>
</template>
<script setup>
import api from "src/js/api";
import { onMounted, reactive } from "vue";

let data = reactive({
  api: "page-sections",
  pageSection: {
    header: "",
    content: "",
  },
});

onMounted(() => {
  getPageSection();
});

function getPageSection() {
  api.get(`${data.api}/editorial_board`)
    .then((response) => {
      if (response.status === 200) {
        data.pageSection = response.data;
      }
    })
    .catch((err) => {
      console.error(err);
    });
}
</script>
<style lang="scss">
.c-page {
  margin-left: 80px;
  margin-right: 80px;
}

.about-title {
  color: $mono-dark;
  font-size: 28px;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

.about-page-content {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
</style>