<template>
  <div class="q-pa-xl">
    <div class="row col">
      <div class="flex flex-center col-12">
        <img class="col-5 items-center" src="../assets/JSIT_logo.png" />
      </div>

      <div class="text-center title text-h4 text-bold col-12">
        Your email is successfully verified
      </div>
      
      <div class="text-center text-subtitle1 col-12">
        You can now login to the page.
      </div>
      
      <div class="flex flex-center col-12 q-mt-lg">
        <q-btn
          class="btn-style"
          size="md"
          filled
          rounded
          color="primary"
          label="Back to Home" 
          to="/"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import api from 'src/js/api';
import { onMounted } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute()

onMounted(() => {
  verifyEmail()
})

const verifyEmail = () => {
  api.get(`verify-email?uId=${route.query.id}`)
      .catch(error => {
        console.error(error)
      })
}
</script>