<template>
  <q-page>
    <q-parallax
      :ratio="16 / 9"
      src="../assets/Parallax_bg2.png"
      style="height: 300px"
    >
      <div class="title-container row full-width justify-center">
        <q-img
          src="../assets/JSIT_logo.png"
          class="logo"
        />
        <div class="full-width">
          <div class="j-title text-center"> Journal Issues</div>
        </div>
      </div>
    </q-parallax>

    <q-page-container>
      <JournalList />
    </q-page-container>
  </q-page>
</template>

<script setup>
import JournalList from 'src/components/JournalList.vue';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute()
</script>

<style lang="scss">
.j-title {
  font-size: 36px;
}
.logo {
  max-width: 200px;

  @media(max-width: 425px) {
    max-width: 100px;
  }
}
</style>