<template>
    <q-page class="flex flex-center">
        <q-parallax
      :ratio="16 / 9"
      src="../assets/Parallax_bg2.png"
      style="height: 300px"
    >
      <div class="title-container row full-width justify-center">
        <q-img
          src="../assets/JSIT_logo.png"
          style="width: 100%; max-width: 200px"
        />
        <div class="full-width">
          <div class="j-title text-center">Browse journals</div>
        </div>
      </div>
    </q-parallax>
        <div class="full-width flex flex-center">
            <JournalCategoryList />
        </div>
    </q-page>
</template>
<script setup>
import JournalCategoryList from 'src/components/JournalCategoryList.vue';
</script>
<style lang="scss">
.j-title {
  font-size: 36px;
}
</style>