<template>
    <q-page>
        <JournalTrackList />
    </q-page>    
</template>
<script setup>
import JournalTrackList from 'src/components/ArticleTrackList.vue';
</script>
<style lang="scss">

</style>