<template>
  <q-page id="LandingPage">
    <!-- Banner Section -->
    <template v-if="pageSectionLoaded && data.bannerList.length">
      <q-carousel
        v-model="bannerSlider"
        class="banner-carousel shadow-8"
        animated
        arrows
        navigation
        autoplay
        infinite
      >
        <q-carousel-slide class="carousel-slide full-width no-wrap" v-for="(item, i) in data.bannerList" :key="i"
          :name="i" :img-src="setPictureUrl(item.picture)" />
      </q-carousel>
    </template>

    <!-- Loading Banner Section -->
    <div v-else-if="!pageSectionLoaded" class="Loadingbanner">
      <div>
        <q-spinner-hourglass color="white" size="2em" />
      </div>
    </div>

    <!-- ISSN and JOURNAL INFORMATION -->
    <div class="q-my-md">
      <LandingInformation />
    </div>

    <!-- Achievement Banner -->
    <template v-if="pageSectionLoaded && data.achievementList.length">
      <q-carousel v-model="achievementSlider" animated arrows navigation infinite class="banner-carousel inset-shadow-8">
        <q-carousel-slide v-for="(item, i) in data.achievementList" :key="i" :name="i"
          :img-src="setPictureUrl(item.picture)" />
      </q-carousel>
    </template>

    <!-- Announcement Banner Loading -->
    <div v-else-if="!pageSectionLoaded" class="banner">
      <div>
        <q-spinner-hourglass color="white" size="2em" />
        <!-- <q-tooltip :offset="[0, 8]">QSpinnerHourglass</q-tooltip> -->
      </div>
    </div>

    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="keyboard_arrow_up" color="accent" />
    </q-page-scroller>
  </q-page>
</template>

<script setup>
import { onMounted, reactive, ref } from "vue";
import api from "src/js/api";
import utils from "src/utils/utils";
import LandingInformation from "src/components/LandingInformation.vue";

const bannerSlider = ref(0)
const achievementSlider = ref(0)

let data = reactive({
      pageSectionList: [],
      bannerList: [],
      achievementList: [],
    });
    const pageSectionLoaded = ref(false);

    onMounted(() => {
      getPageSectionList();
    });

    function getPageSectionList() {
      pageSectionLoaded.value = false;

      api.get("page-sections")
        .then((response) => {
          let list = response.data;
          data.bannerList = list.filter((x) => x.category == "banner");
          data.achievementList = list.filter(
            (x) => x.category == "achievement"
          );
        })
        .catch((err) => {
          console.log(err);
          pageSectionLoaded.value = true;
        })
        .finally(() => {
          pageSectionLoaded.value = true;
        });
    }

    function setPictureUrl(filename) {
      return utils.setPictureUrl(filename);
    }
</script>

<style lang="scss">
.Loadingbanner {
  height: 300px;
  background-color: #7a7878;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #e4dfdf;
}

.carousel-slide {
  background-size: fit;
  background-repeat: no-repeat;
  background-color: #7a7878;
}

// .banner-carousel {
//   height: 800px;
// }

.issn-container {
  @media (max-width: 1309px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 32px;
  }
}
</style>
