<template>
  <q-page class="q-mx-xl q-py-xl">
    <div class="q-mx-auto">
      <div class="page-title flex justify-center q-py-lg text-uppercase">
        {{ data.pageSection.header }}
      </div>

      <q-separator />

      <div class="q-py-md text-justify">
        <div v-html="data.pageSection.content" 
          class="page-content q-py-auto"
        >
        </div>
      </div>
    </div>
  </q-page>
</template>
<script setup>
import api from 'src/js/api';
import { onMounted, reactive } from 'vue';

let data = reactive({
  api: 'page-sections',
  pageSection: {
    header: '',
    content: ''
  },
});

onMounted(() => {
  getPageSection();
})

function getPageSection() {
  api.get(`${data.api}/open_access_policy`)
    .then((response) => {
      if (response.status === 200) {
        data.pageSection = response.data;
      }
    })
    .catch((error) => {
      console.error(error);
    })
}
</script>
<style lang="scss">
.page-title {
  color: $mono-dark;
  font-size: 28px;

  @media (min-width: 1024px) {
    font-size: 36px;
  }
}

.page-content {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
</style>