<template>
  <q-page-container class="registration-container">		
    <RegistrationForm />
  </q-page-container>
</template>
<script setup>
import RegistrationForm from "src/components/RegistrationForm.vue";
RegistrationForm;
</script>
<style lang="scss">
.registration-container {
  margin-left: 200px;
  margin-right: 200px;
  @media(max-width: 1024px) {
    margin-left: 35px;
    margin-right: 35px;
  }
}
</style>