<template>
  <q-pag class="q-pa-md flex flex-center">
    <SubscriptionComponent />
  </q-pag>
</template>
<script setup>
import SubscriptionComponent from 'src/components/SubscriptionComponent.vue';
</script>