<template>
    <div id="PageSectionForm">
        <q-form @submit="onSubmit" class="q-gutter-md">
            <q-select
                label="Category"
                v-model="data.form.category"
                :options="data.pageSectionType"
                emit-value
                map-options
                dense
            />

            <q-input
                v-if="formType == 'section' || formType == 'page'"
                label="Header"
                v-model="data.form.header"
                dense
            />

            <q-input
                v-if="formType == 'section'"
                label="Subheader"
                v-model="data.form.subheader"
                dense
            />

            <q-input
                v-if="formType == 'section' || formType == 'page'"
                type="textarea"
                label="Content"
                v-model="data.form.content"
                dense
            />

            <q-file
                v-if="formType == 'section'"
                label="Upload an image"
                v-model="data.form.file"
                accept="image/*"
                dense
            >
                <template v-slot:prepend>
                    <q-icon name="attach_file" />
                </template>
            </q-file>

            <q-input
                v-if="formType == 'section'"
                label="Index"
                type="number"
                v-model="data.form.index"
                dense
            />

            <div>
                <q-btn
                    type="submit"
                    label="Save"
                    color="primary"
                    :loading="data.form.loading"
                    no-caps
                />
            </div>
        </q-form>
    </div>
</template>

<script>
import api from "src/js/api";
import { reactive, ref } from "@vue/reactivity";
import notify from "src/utils/notify";
import { PAGE_SECTION_CATEGORY_OPTIONS } from "src/constants/page-section-category-options";
import { onMounted, watch } from "vue";

export default {
    props: ["model"],
    emits: ["onSubmit"],
    setup(props, { emit }) {
        let data = reactive({
            form: props.model ?? {},
            errors: {},
            api: "page-sections",
            pageSectionType: PAGE_SECTION_CATEGORY_OPTIONS
        });
        const formType = ref('section')

        onMounted(() => {
            if (props.model) {
                setPageSectionType(props.model.category)
            }
        })

        watch(() => data.form.category, (value) => {
            setPageSectionType(value)
        })

        function onSubmit() {
            data.form.loading = true;

            let formData = new FormData()
                if (data.form.category) {
                    formData.append('category', data.form.category);
                }
                
                if (data.form.header) {
                    formData.append('header', data.form.header);
                }
                
                if (data.form.subheader) {
                    formData.append('subheader', data.form.subheader);
                }
                
                if (data.form.content) {
                    formData.append('content', data.form.content);
                }
                
                if (data.form.file) {
                    formData.append('file', data.form.file);
                }
                 formData.append('index', data.form.index ?? 1);

            api.post(`${data.api}/${data.form.id ?? 0}`, formData)
                .then((res) => {
                    notify.setup(!!res.data);

                    if (res.data) emit("onSubmit");
                })
                .catch((err) => {
                    console.error(err);
                })
                .finally(() => {
                    data.form.loading = null;
                });
        }

        function setPageSectionType(value) {
            const pageSectionType = data.pageSectionType.find(type => type.value == value)

            if (pageSectionType) {
                formType.value = pageSectionType.type
            }
        }

        return {
            data,
            onSubmit,
            formType
        };
    },
};
</script>

<style>
</style>