<template>
    <div id="PageSectionList">
        <q-table
            :columns="columns"
            :rows="data.list"
            :filter="data.tableFilter"
            table-header-class="text-white bg-primary"
            wrap-cells
            flat
        >
            <template v-slot:top>
                <q-btn
                    @click="
                        (data.showPageSectionPopup = true),
                            (data.selectedModel = {})
                    "
                    label="Add Page Section"
                    style="margin-left: -15px"
                    color="primary"
                    icon="add"
                    no-caps
                />

                <q-space />

                <q-input
                    borderless
                    dense
                    debounce="300"
                    v-model="data.tableFilter"
                    placeholder="Search"
                >
                    <template v-slot:append>
                        <q-icon name="search" />
                    </template>
                </q-input>
            </template>

            <template #body-cell-picture="props">
                <q-td :props="props" class="text-no-wrap">
                    <q-avatar
                        v-if="props.row.picture"
                        rounded
                    >
                        <img :src="setPictureUrl(props.row.picture)">
                    </q-avatar>
                    <div v-else class="text-center">--</div>
                </q-td>
            </template>
            
            <template #body-cell-actions="props">
                <q-td :props="props" class="text-no-wrap">
                    <q-btn
                        @click="onEditHandler(props.row)"
                        title="Edit"
                        icon="edit"
                        color="primary"
                        flat
                        round
                        dense
                    />

                    <q-btn
                        @click="onDeleteHandler(props.row)"
                        title="Delete"
                        icon="delete"
                        color="negative"
                        flat
                        round
                        dense
                    />
                </q-td>
            </template>
        </q-table>

        <show-details-popup
            v-if="data.showPageSectionPopup"
            @onClose="data.showPageSectionPopup = false"
            headerBgPrimary
            noOk
            persistent
            :width="'600'"
        >
            <template #title>{{ data.selectedModel.id ? 'Update': 'Add' }} Page Sections</template>

            <template #content>
                <page-section-form :model="data.selectedModel" @onSubmit="onSubmitPageSectionHandler" class="q-pt-sm" />
            </template>
        </show-details-popup>
    </div>
</template>

<script>
import { reactive } from "@vue/reactivity";
import { onMounted } from "@vue/runtime-core";
import api from 'src/js/api';
import dialog from 'src/utils/dialog';
import notify from 'src/utils/notify';
import PageSectionForm from './PageSectionForm.vue';
import ShowDetailsPopup from '../../shared/ShowDetailsPopup.vue';
import utils from 'src/utils/utils';
const columns = [
    {
        label: "Picture",
        name: "picture",
        field: "picture",
        align: "left",
        sortable: true,
        headerStyle: 'width: 100px',
    },
    {
        label: "Category",
        name: "category",
        field: "category",
        align: "left",
        sortable: true,
    },
    {
        label: "Header",
        name: "header",
        field: "header",
        align: "left",
        sortable: true,
    },
    {
        label: "Index",
        name: "index",
        field: "index",
        align: "left",
        sortable: true,
    },
    {
        name: "actions",
        field: "actions",
        align: "right",
    },
];

export default {
    components: { PageSectionForm, ShowDetailsPopup },
    setup() {
        let data = reactive({
            list: [],
            selectedModel: {},
            api: "page-sections",
            tableFilter: "",
            showPageSectionPopup: false
        });

        onMounted(() => {
            getList();
        });

        function getList() {
            api.get(data.api)
                .then((res) => (data.list = res.data))
                .catch((err) => console.error(err));
        }

        function onEditHandler(model) {
            data.showPageSectionPopup = true;
            data.selectedModel = model;
        }

        function onDeleteHandler(model) {
            dialog.confirmDelete(() => {
                api.delete(`${data.api}/${model.id}`)
                    .then(res => {
                        notify.setup(res.data, 'Successfully deleted');

                        if (res.data) data.list = data.list.filter(x => x.id != model.id);
                    })
                    .catch(err => console.error(err));
            });
        }

        function onSubmitPageSectionHandler() {
            data.showPageSectionPopup = false
            getList();
        }

        function setPictureUrl(filename) {
            return utils.setPictureUrl(filename)
        }

        return {
            data,
            columns,

            onEditHandler,
            onDeleteHandler,
            onSubmitPageSectionHandler,
            setPictureUrl,
        };
    },
};
</script>

<style>
</style>