.j-list-container{margin-left:100px;margin-right:100px}@media (max-width:768px){.j-list-container{align-items:center;display:flex;flex-direction:column;justify-content:center}}.journal-card{height:350px;max-width:230px}.j-title{font-size:36px}