.about-title{color:#605c5c;font-size:28px}@media (min-width:1024px){.about-title{font-size:36px}}@media (max-width:768px){.about-page-content{font-size:14px;margin-left:50px;margin-right:50px}}@media (min-width:1024px){.about-page-content{font-size:16px;margin-left:200px;margin-right:200px}}