<template>
  <q-page>
    <div v-if="isAuthenticated == null" class="text-center">
      <q-spinner color="primary" size="3em" />
    </div>
    <div v-else class="row col">
      <div class="content-preview col-8">
        <div>
          <q-btn flat dense hide-bottom-space class="q-my-sm" icon="arrow_back" label="Back to articles"
            @click="backBtnHandler" />
        </div>
        <!-- JOURNAL HEADER -->
        <div class="q-ma-md row justify-between">
          <q-parallax src="../assets/JSIT_logoBW.png" :height="350">
            <div v-for="journal in journalList" :key="journal.id">
              <h3>{{ journal.title }}</h3>
            </div>
          </q-parallax>
        </div>
        <!-- END HEADER -->

        <!-- CONTENT -->
        <div class="headers q-mt-md">
          <div class="a-title text-h4">
            {{ article.title }}
          </div>
          <!-- <span clickable>View all authors and affiliation</span> -->
          <div class="a-date">
            {{ new Date(article.created_at).toLocaleDateString() }}
          </div>
        </div>
        <div class="content">
          <div class="a-title text-h5 q-py-md">
            Abstract
            <div class="a-content" v-html="article.abstract"></div>
          </div>

          <!-- Additional Content Area -->
          <div v-if="isAuthenticated === false">
            <q-separator class="q-my-md" />
            <div class="nav-container full-width flex justify-center q-gutter-x-md">
              <!-- Authors and Affiliate View -->
              <q-btn flat icon="menu" label="View authors and affiliate" @click="showAuthorsAffiliatePopup = true" />

              <!-- Subscribe button -->
              <q-btn filled class="bg-positive text-white" icon="lock" label="Subscribe to view full content"
                @click="onSubscriptionHandler" />
            </div>
            <q-separator class="q-my-md" />
          </div>
          <!-- Additional Content Area -->
          <!-- <div v-if="isAuthenticated === true">
            <div class="a-title text-h5 q-py-md">
              Introduction
              <div class="a-content" v-html="article.introduction"></div>
            </div>

            <div class="a-title text-h5 q-py-md">
              Materials and Method
              <div class="a-content" v-html="article.method"></div>
            </div>

            <div class="a-title text-h5 q-py-md">
              Results and Discussion
              <div class="a-content" v-html="article.result"></div>
            </div>

            <div class="a-title text-h5 q-py-md">
              Conclusion
              <div class="a-content" v-html="article.conclusion"></div>
            </div>

            <div class="a-title text-h5 q-py-md">
              Recommendation
              <div class="a-content" v-html="article.recommendation"></div>
            </div>
          </div> -->


          <div class="references">
            <div class="a-title text-h5 q-py-md">
              References
            </div>
            <div class="a-content" v-html="article.references">
            </div>
          </div>

          <!-- <div v-if="isAuthenticated === true">
            <div class="a-title text-h5 q-py-md">
              Acknowledgement
              <div class="a-content" v-html="article.acknowledgement"></div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="col-4">
        <q-input borderless dense debounce="300" v-model="data.tableFilter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-card>
          <q-card-title>
            <div>Recent News</div>
          </q-card-title>
          <q-card-section>
            WIP
          </q-card-section>
        </q-card>
      </div>
    </div>
    <!-- Show Details Popup -->
    <show-details-popup v-if="showAuthorsAffiliatePopup" @onClose="showAuthorsAffiliatePopup = false" noOk
      :width="'500'">
      <template #content>
        <AuthorsAndAffiliatePopup />
      </template>
    </show-details-popup>

    <show-details-popup v-if="data.showLoginPopup" @onClose="data.showLoginPopup = false" noOk :width="'800'">
      <template #content>
        <LoginForm />
      </template>
    </show-details-popup>
  </q-page>
</template>

<script setup>
import api from 'src/js/api';
import { onMounted, ref, reactive } from 'vue'
import { useRoute, useRouter } from 'vue-router';
import AuthorsAndAffiliatePopup from './AuthorsAndAffiliate.vue';
import ShowDetailsPopup from './shared/ShowDetailsPopup.vue';
import LoginForm from './LoginForm.vue';

const route = useRoute()
const router = useRouter()
let data = reactive({
  showLoginPopup: false
})

const journalId = route.params.articleId
const article = ref([])
const isAuthenticated = ref(null)
const journalList = ref([])
const journal = ref()


onMounted(async () => {
  if (journalId > 0) {
    article.value = await getArticleById(journalId)
    journal.value = await getJournalById(journalId)
  }
  console.log(journal.value);
  
  getAuthUser()
})

const showAuthorsAffiliatePopup = ref(false);

const getArticleById = journalId => {
  return new Promise(resolve => {
    api.get(`/articles/public/${journalId}`)
      .then(response => {
        resolve(response.data)
      })
      .catch(error => {
        console.error(error);
      })
  })
}

const getJournalById = journalId => {
  return new Promise(resolve => {
    api.get(`journals/public`)
      .then(response => {
        if (response.data.length > 0) {
          resolve(journalList.value = response.data)
        }
      })
  })
}

const getAuthUser = () => {
  api.get('authenticated')
    .then(response => {
      isAuthenticated.value = response.data == 1
    })
    .catch(error => {
      isAuthenticated.value = false
    })
}

const onSubscriptionHandler = () => {
  data.showLoginPopup = true
}

const backBtnHandler = () => {
  router.go(-1)
}

</script>

<style scoped lang="scss">
.a-content {
  font-size: 16px;

  @media(max-width: 375px) {
    font-size: 14px;
  }
}
</style>