<template>
  <div>
    <div class="q-py-sm q-mx-xl">
      <div class="full-width row">
        <div>
          <q-btn class="" flat dense icon="arrow_back" label="Back to journals" @click="backBtn()" />
        </div>
        <q-space />
        <!-- Search Bar -->
        <div class="searchContainer q-mb-md q-mx-auto flex justify-between">
          <q-input outlined dense v-model="text" class="search-box q-mr-xs" placeholder="Search">
            <template v-slot:prepend>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </div>
      <!-- List of Articles -->

      <div v-if="articleList.length == 0" class="text-center text-h5 text-lowercase text-grey-8 q-ma-md">
        No Journals available
      </div>

      <q-scroll-area v-else style="height: 500px" class="a-scroll q-mx-auto">
        <q-list class="article-container items-center">
          <q-item v-for="article in articleList" :key="article.id" @click="selectedArticleHandler(article)"
            class="article-container items-center" clickable v-ripple>
            <!-- <q-item-section avatar>
              <q-avatar class="a-image">
                <img src="../assets/JSIT_logoBW.png" />
              </q-avatar>
            </q-item-section> -->

            <q-item-section>
              <q-item-label lines="1" class="a-title">
                {{ article.title }}
              </q-item-label>
              <q-item-label caption lines="2">
                <span class="a-author text-weight-bold">{{ article.article_authors.length > 0 ?
                  article.article_authors[0].name : 'No authors' }}</span>
              </q-item-label>
              <q-item-label>
                <span class="a-date">{{ new Date(article.created_at).toLocaleDateString() }}</span>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </div>

    <show-details-popup v-if="data.showLoginPopup" @onClose="data.showLoginPopup = false" noOk :width="'800'">
      <template #content>
        <login-form />
      </template>
    </show-details-popup>
  </div>
</template>

<script setup>
import ShowDetailsPopup from "src/components/shared/ShowDetailsPopup.vue";
import { onMounted, reactive, ref } from "vue";
import LoginForm from "../components/LoginForm.vue";
import { useRoute, useRouter } from "vue-router";
import api from "src/js/api";

const router = useRouter()
const route = useRoute()

// state
let data = reactive({
  showLoginPopup: false,
});
const journalName = route.params.journalId
const articleList = ref([])
const journals = ref([])
let journalId = ref([])

// actions
onMounted(async () => {
  getArticleList()

  journals.value = await getJournals()
  // set journal category ID
  journalId = journals.value.find(journal => journal.name?.toLowerCase() == journalName?.toLowerCase())?.id
})

const getJournals = () => {
  return new Promise(resolve => {
    api.get('journals/public')
      .then(response => {
        resolve(response.data)
      })
      .catch(error => {
        console.error(error)
      })
  })
}

const getArticleList = () => {
  api.get(`/articles/public?j=${route.params.journalId}`)
    .then(response => {
      if(response.data.length > 0) {
        articleList.value = response.data
        //  articleList.value = response.data.filter(article => article.journal_id == journalId)
      }
    })
    .catch(error => {
      console.error(error)
    })
}

function selectedArticleHandler(article) {
  api.get('authenticated')
    .then((response) => {
      if (response.data) {
        return router.push(`/user/${article.id}/${(article.title.toLowerCase()).replace(' ', '-')}`)
      }
      else {
        return router.push(`/${article.id}/${(article.title.toLowerCase()).replace(' ', '-')}`)
      }
    })
    .catch(() => {
      return router.push(`/${article.id}/${(article.title.toLowerCase()).replace(' ', '-')}`)
    })
}

function backBtn() {
  router.go(-1)
}
</script>

<style lang="scss">
.j-title {
  font-size: 24px;
}

.search-box {
  width: 400px;

  @media (max-width: 768px) {
    width: 200px;
  }
}

// Article style
.article-container {
  height: 160px;

  @media (max-width: 768px) {
    height: 110px;
  }
}

.a-image {
  width: 120px;
  height: 120px;

  @media (max-width: 768px) {
    width: 75px;
    height: 75px;
  }
}

// Article font styles
.a-title {
  font-size: 34px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.a-author {
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.a-date {
  font-size: 12px;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.a-scroll {
  box-shadow: 0px 10px 30px -18px;

}
</style>