<template>
  <div class="flex flex-center">
    <!-- DESKTOP VIEW -->
    <q-form class="q-mx-auto full-width">
      <!-- @submit="onSubmit()"> -->
      <q-stepper v-model="step" ref="stepper" color="primary" contracted animated flat :vertical="$q.screen.lt.sm"
        class="desktop-view">
        <!-- Agreement -->
        <q-step :name="1" title="Terms and Conditions" icon="task" :done="step > 1">
          <div class="step-content">
            <div class="text-h5 text-bold flex justify-center q-mb-lg">
              Terms and Conditions for the Journal of Science Innovation and Technology
            </div>
            <q-separator class="q-my-md" />
            <q-scroll-area :visible="visible" style="height: 380px" class="q-px-md">
              <div class="description text-justify">
                <div>
                  <TermsAndCondition />
                </div>
              </div>
            </q-scroll-area>
            <q-toggle class="q-my-md" v-model="accept" label="I accept the license and terms" />

            <div class="q-mt-lg">
              <q-btn @click="$refs.stepper.next()" color="primary" v-if="step <= 7" label="continue"
                :disabled="!accept" />
              <q-btn @click="$refs.stepper.previous()" color="primary" flat label="Back" class="q-ml-sm"
                v-if="step > 1" />
            </div>
          </div>
        </q-step>

        <!-- Title & Authors -->
        <q-step :name="2" title="Title and Author" icon="person" :done="step > 1">
          <div class="step-content">
            <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
              Title and Author(s)
            </div>
            <q-input dense required v-model="form.title" placeholder="Title" />

            <q-scroll-area class="q-my-md" style="height: 308px">
              <div v-for="(author, i) in form.authors" :key="i">
                <span class="text-bold">{{ i == 0 ? 'Lead Author' : `Author ${ i + 1 }` }}</span>
                <q-input filled class="q-my-sm" placeholder="Author" v-model="author.name" required />
                <q-input
                  filled
                  class="q-my-sm"
                  placeholder="Affiliate"
                  v-model="author.affiliate"
                  required
                  v-if="i === 0"
                  />
                <q-input
                  filled
                  class="q-my-sm"
                  placeholder="Corresponding author email"
                  v-model="author.email"
                  required
                  v-if="i === 0" 
                />
              </div>
              <div class="q-mb-md flex justify-end">
                <q-btn avatar @click="addInput(1)" icon="add" label="Add Author" class="txtbox-add-btn q-mr-md" />
                <q-btn avatar @click="deleteInput(1)" icon="delete" class="txtbox-pop-btn" :disabled="i == 0" />
              </div>
            </q-scroll-area>

            <div class="q-mt-lg">
              <q-btn @click="$refs.stepper.next()" color="primary" v-if="step <= 7" label="Continue"
                :disabled="isInvalidStep1Form" />

              <q-btn @click="$refs.stepper.previous()" color="primary" flat label="Back" class="q-ml-sm"
                v-if="step > 1" />
            </div>
          </div>
        </q-step>

        <!-- Abstract -->
        <q-step :name="3" title="Abstract" icon="description" :done="step > 2" v-bind:ref="selectedTable = 'abstract'">
          <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
            Abstract
          </div>

          <q-editor v-model="form.abstract" v-bind:key="editorContent" :definitions="{
            table: {
              tip: 'Insert table',
              icon: 'table_chart',
              label: 'Insert Table',
              handler: showTableDialog
            },
          }" :toolbar="[
            ['bold', 'italic', 'strike', 'underline'],
            ['table']
          ]" placeholder="Paste your work here" />

          <div class="text-negative text-caption flex justify-between q-mt-sm">
            <div>Minimum 150 and maximum of 250 words required.</div>

            <div>Word Count: {{ abstractWordCount }}</div>
          </div>

          <div class="q-my-md">
            <q-select
              label="Keywords"
              v-model="arrayKeywords"
              new-value-mode="add-unique"
              no-caps
              required
              filled
              use-input
              use-chips
              multiple
              hide-dropdown-icon
              input-debounce="0" 
            />
          </div>

          <div class="q-mt-lg">
            <q-btn @click="$refs.stepper.next()" color="primary" label="continue"
              :disabled="(abstractWordCount < 150 || abstractWordCount > 250)" />

            <q-btn @click="$refs.stepper.previous()" color="primary" flat label="Back" class="q-ml-sm" />
          </div>
        </q-step>

        <!-- Introduction -->
        <q-step :name="4" title="Introduction" icon="description" :done="step > 3">
          <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
            Introduction
          </div>

          <q-editor
            v-model="form.introduction"
            :toolbar="[
              ['bold', 'italic', 'strike', 'underline']]"
            placeholder="Paste your work here" 
          />

          <div class="q-mt-lg">
            <q-btn @click="$refs.stepper.next()" color="primary" label="continue" :disabled="form.introduction == ''" />

            <q-btn @click="$refs.stepper.previous()" label="Back" color="primary" flat class="q-ml-sm" />
          </div>
        </q-step>

        <!-- Materials and Method -->
        <q-step :name="5" title="Materials and Method" icon="description" :done="step > 4">
          <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
            Materials and Method
          </div>

          <q-editor
            :toolbar="[
              ['bold', 'italic', 'strike', 'underline']]"
            v-model="form.method"
            placeholder="Paste your work here" 
          />

          <div class="q-mt-lg">
            <q-btn @click="$refs.stepper.next()" color="primary" label="continue" :disabled="form.method == ''" />

            <q-btn @click="$refs.stepper.previous()" color="primary" flat label="Back" class="q-ml-sm" />
          </div>
        </q-step>

        <!-- Results and Discussion -->
        <q-step :name="6" title="Results and Discussion" icon="description" :done="step > 5"
          v-bind:ref="selectedTable = 'result'">
          <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
            Results and Discussion
          </div>

          <q-editor v-model="form.result" v-bind:key="editorContent" :definitions="{
            table: {
              tip: 'Insert table',
              icon: 'table_chart',
              label: 'Insert Table',
              handler: showTableDialog
            },
          }" :toolbar="[
            ['bold', 'italic', 'strike', 'underline'],
            ['table']
          ]" placeholder="Paste your work here" />

          <div class="q-mt-lg">
            <q-btn @click="$refs.stepper.next()" color="primary" label="continue" :disabled="form.result == ''" />

            <q-btn @click="$refs.stepper.previous()" label="Back" class="q-ml-sm" color="primary" flat />
          </div>
        </q-step>

        <!-- Conclusion -->
        <q-step :name="7" title="Conclusion" icon="description" :done="step > 6">
          <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
            Conclusion
          </div>

          <q-editor
            :toolbar="[
              ['bold', 'italic', 'strike', 'underline']]"
            v-model="form.conclusion"
            placeholder="Paste your work here" 
          />

          <div class="q-mt-lg">
            <q-btn @click="$refs.stepper.next()" label="continue" color="primary" :disabled="form.conclusion == ''" />

            <q-btn @click="$refs.stepper.previous()" label="Back" class="q-ml-sm" color="primary" flat />
          </div>
        </q-step>

        <!-- Recommendation -->
        <q-step :name="8" title="Recommendation" icon="description" :done="step > 7">
          <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
            Recommendation
          </div>

          <q-editor
            :toolbar="[
              ['bold', 'italic', 'strike', 'underline']]"
            v-model="form.recommendation"
            placeholder="Paste your work here" />

          <div class="q-mt-lg">
            <q-btn @click="$refs.stepper.next()" label="Continue" color="primary"
              :disabled="form.recommendation == ''" />

            <q-btn @click="$refs.stepper.previous()" label="Back" class="q-ml-sm" color="primary" flat />
          </div>
        </q-step>

        <!-- References -->
        <q-step :name="9" title="References" icon="description" :done="step > 8">
          <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
            References
          </div>

          <q-editor
            :toolbar="[
              ['bold', 'italic', 'strike', 'underline']]"
            v-model="form.references"
            placeholder="Paste your work here" />

          <div class="q-mt-lg">
            <q-btn @click="$refs.stepper.next()" label="Continue" color="primary" :disabled="form.references == ''" />

            <q-btn @click="$refs.stepper.previous()" label="Back" class="q-ml-sm" color="primary" flat />
          </div>
        </q-step>

        <!-- Acknowledgement -->
        <q-step :name="10" title="Acknowledgement" icon="description" :done="step > 9">
          <div class="desc-title flex justify-center text-h5 text-bold q-mb-lg">
            Acknowledgement
          </div>

          <q-editor
            :toolbar="[
              ['bold', 'italic', 'strike', 'underline']]"
            v-model="form.acknowledgement"
            placeholder="Paste your work here" />

          <div class="q-mt-lg">
            <q-btn @click="showConfirmationPopup = true" label="Finish" color="primary" />

            <q-btn @click="$refs.stepper.previous()" label="Back" class="q-ml-sm" color="primary" flat />
          </div>
        </q-step>
      </q-stepper>
    </q-form>

    <!-- show popup -->
    <show-details-popup v-if="showConfirmationPopup" @onClose="showConfirmationPopup = false" persistent noOk
      :width="'950'">
      <template #content>
        <ArticleConfirmation :userInput="form" />
      </template>
    </show-details-popup>

    <!-- Add table dialog -->
    <div class="tableDialog">
      <q-dialog v-model="tableDialog">
        <q-card style="min-width: 350px">
          <q-card-section>
            <div class="text-h6">Insert Table</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="row q-col-gutter-md">
              <div class="col-6">
                <q-input v-model.number="rows" type="number" label="Number of Rows" min="1" />
              </div>
              <div class="col-6">
                <q-input v-model.number="columns" type="number" label="Number of Columns" min="1" />
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="primary" v-close-popup />
            <q-btn flat label="Insert" color="primary" @click="insertTable()" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- END Table Dialog -->
  </div>
</template>

<script setup>
import ArticleConfirmation from "src/components/ArticleConfimation.vue";
import TermsAndCondition from "./TermsAndCondition.vue";
import ShowDetailsPopup from "./shared/ShowDetailsPopup.vue";
import { useQuasar } from "quasar";
import { ref, reactive, computed, watch, onMounted } from "vue";
import api from "src/js/api";

const $q = useQuasar();
const step = ref(1);
const accept = ref(false);
const rows = ref(''); // Default number of rows
const columns = ref(''); // Default number of columns

const visible = true

const arrayKeywords = ref([])
const arrayAsString = computed(() => arrayKeywords.value.join(','));

const form = reactive({
  journal_id: '',
  title: '',
  authors: [
    {
      name: '',
      affiliate: '',
      email: '',
    },
  ],
  keywords: arrayAsString,
  abstract: '',
  introduction: '',
  method: '',
  result: '',
  conclusion: '',
  recommendation: '',
  references: '',
  acknowledgement: '',
})

// getters
const isInvalidStep1Form = computed(() => {
  let result = false;

  if (!form.title) {
    result = true
  }

  form.authors.map(author => {
    if (!author.name || !author.email || !author.affiliate) {
      result = true
    }
  })

  return result
})

const abstractWordCount = computed(() => {
  return countWords(form.abstract)
})



const countWords = (str) => {
  if (str == undefined || str == null) {
    return 0
  }

  // Remove extra spaces and trim leading/trailing whitespace
  const cleanStr = str.trim().replace(/\s+/g, ' ');

  // Split the string into an array of words
  const words = cleanStr.split(' ');

  // Return the number of words in the array
  if (words.length == 1) {
    return !cleanStr ? 0 : 1
  }
  return words.length;
}

// Insert Table
const selectedTable = ref('')
const tableDialog = ref(false)

const showTableDialog = () => {
  tableDialog.value = true;
}

const insertTable = (selectedTable) => {
  let tableHTML = '<table style="border-collapse: collapse; border: 1px solid black;"><thead><tr>';

  // Create table headers
  for (let i = 0; i < columns.value; i++) {
    tableHTML += `<th style="border: 1px solid black; padding: 10px">Header ${i + 1}</th>`;
  }
  tableHTML += '</tr></thead><tbody>';

  // Create table rows and cells
  for (let i = 0; i < rows.value; i++) {
    tableHTML += '<tr>';
    for (let j = 0; j < columns.value; j++) {
      tableHTML += `<td style="border: 1px solid black; padding: 15px"></td>`; // Blank cells
    }
    tableHTML += '</tr>';
  }
  tableHTML += '</tbody></table>';

  if (selectedTable.value == 'abstract') {
    form.abstract += tableHTML;
    selectedTable.value = ref('')
  }
  if (selectedTable.value == 'result') {
    form.abstract += tableHTML
    selectedTable.value = ref('')
  }
}

//Word Counts

const editorContent = ref('')

// End Word Counts

const showConfirmationPopup = ref(false);

function addInput() {
  form.authors.push({
    name: "",
    affiliate: form.authors[0].affiliate,
    email: form.authors[0].email,
  });
}

function deleteInput() {
  form.authors.pop({
    name: "",
    affiliate: "",
    email: "",
  });
}

</script>

<style lang="scss">
.desktop-view {
  @media (min-width: 768px) {
    margin-left: 80px;
    margin-right: 80px;
  }

  @media (min-width: 1024px) {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.step-content {
  @media (min-width: 768px) {
    margin-left: 80px;
    margin-right: 80px;
  }

  @media (min-width: 1024px) {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.description {
  @media (max-width: 425px) {
    font-size: 14px;
  }
}

.txtbox-add-btn {
  background-color: $positive;
  color: #fff;
}

.txtbox-pop-btn {
  background-color: $negative;
  color: #fff;
}
</style>