<template>
  <div class="confirmation-container row col">
    <div class="col-12">
      <q-img fit="contain" src='../assets/JSIT_logo.png' height="230px">
        <div class="absolute-full flex flex-center">
          <div class="text-subtitle1">Confirmation Data</div>
        </div>
      </q-img>
    </div>

    <q-scroll-area style="height: 500px" class="q-mx-auto col-12 q-mt-md">

      <div class="confirmation-field q-gutter-y-md">
        <div class="form-container">
          <div class="j-title">Title</div>
          <q-field filled dense readonly class="text-field">
            <div class=" input-text no-outline">
              {{ userInput.title }}
            </div>
          </q-field>
        </div>

        <div class="form-container" v-for="(author, i) in userInput.authors" :key="i">
          <div class="j-title">Author {{ i + 1 }}</div>
          <div class="q-gutter-y-sm">
            <q-field filled dense class="text-field">
              <div class=" input-text self-center full-width no-outline">
                {{ author.name }}
              </div>
            </q-field>
            <q-field filled dense class="text-field">
              <div class=" input-text self-center full-width no-outline">
                {{ author.affiliate }}
              </div>
            </q-field>
            <q-field filled dense class="text-field">
              <div class=" input-text self-center full-width no-outline">
                {{ author.email }}
              </div>
            </q-field>
          </div>
        </div>

        <div class="form-container">
          <div class="j-title">Abstract</div>
          <q-field filled dense class="text-field">
            <div v-html="userInput.abstract" class=" input-text self-center full-width no-outline"></div>
          </q-field>
        </div>

        <div class="form-container">
          <div class="j-title">Intorduction</div>
          <q-field filled dense class="text-field">
            <div v-html="userInput.introduction" class="input-text self-center full-width no-outline"></div>
          </q-field>
        </div>

        <div class="form-container">
          <div class="j-title">Materials and Methods</div>
          <q-field filled dense class="text-field">
            <div v-html="userInput.method" class=" input-text self-center full-width no-outline"></div>
          </q-field>
        </div>

        <div class="form-container">
          <div class="j-title">Results and Discussions</div>
          <q-field filled dense class="text-field">
            <div v-html="userInput.result" class="input-text self-center full-width no-outline"></div>
          </q-field>
        </div>

        <div class="form-container">
          <div class="j-title">Conclusion</div>
          <q-field filled dense class="text-field">
            <div v-html="userInput.conclusion" class="input-text self-center full-width no-outline"></div>
          </q-field>
        </div>

        <div class="form-container">
          <div class="j-title">Recommendation</div>
          <q-field filled dense class="text-field">
            <div v-html="userInput.recommendation" class="input-text self-center full-width no-outline"></div>
          </q-field>
        </div>

        <div class="form-container">
          <div class="j-title">References</div>
          <q-field filled dense class="text-field">
            <div v-html="userInput.references" class="input-text self-center full-width no-outline"></div>
          </q-field>
        </div>

        <div class="form-container">
          <div class="j-title">Acknowledgement</div>
          <q-field filled dense class="text-field">
            <div v-html="userInput.acknowledgement" class="input-text self-center full-width no-outline"></div>
          </q-field>
        </div>
      </div>
      <div class="q-my-md">
        <q-card>
          <q-card-section>
            Keywords: {{ userInput.keywords }}
          </q-card-section>
        </q-card>
      </div>
    </q-scroll-area>


    <div class="flex justify-end q-my-md q-gutter-x-md">
      <q-btn @click="onSubmit" label="Submit" color="primary" :loading="formLoading" />
    </div>
  </div>
</template>
<script setup>
import api from 'src/js/api';
import { onMounted, reactive, ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter()

const formLoading = ref(false)
const props = defineProps({
  userInput: {
    title: String,
    authors: Array,
    keywords: Array,
    abstract: String,
    introduction: String,
    method: String,
    result: String,
    conclusion: String,
    recommendation: String,
    references: String,
    acknowledgement: String
  }
})

const onSubmit = () => {
  formLoading.value = true

  api.post(`/articles`, props.userInput)
    .then(response => {
      router.push(`/admin/articles`)
    })
    .catch(error => {
      console.error(error);
    })
    .finally(() => {
      formLoading.value = false
    })
}
</script>

<style lang="scss">
.j-title {
  color: #7e7c7c;
  font-weight: bold;
  margin-bottom: 5px;
}

.text-field {
  font-size: "16px"
}

.input-text {
  color: #000;
}
</style>