<template>
  <div class="q-pa-lg">
    <!-- Back to list of journal with reviewing status -->
    <div class="full-width">
      <q-btn 
        flat
        icon="arrow_back"
        label="Back"
        @click="onBackHandler"
      />
    </div>
    <div class="journalTitle">
      {{ journal.title }}
    </div>
    <div>
      <q-stepper v-model="step" flat vertical class="q-px-auto" color="primary" animated active-icon="hourglass_top">

        <q-step :name="1" title="Initial Screening" icon="settings" :done="step > 1">
          Editor-in-Chief currently checking your journal.
  
          <!-- <q-stepper-navigation>
            <q-btn @click="step = 2" color="primary" label="Continue" />
          </q-stepper-navigation> -->
        </q-step>
  
        <q-step :name="2" title="Plagiarism Checking" icon="create_new_folder" :done="step > 2">
          IPTBM office is currently checking your journal.
  
          <!-- <q-stepper-navigation>
            <q-btn @click="step = 3" color="primary" label="Continue" />
          </q-stepper-navigation> -->
        </q-step>
  
        <q-step :name="3" title="Peer review" icon="add_comment" :done="step > 3">
          The Managing Editor is assigning a peer reviewer for your work.
  
          <!-- <q-stepper-navigation>
            <q-btn @click="step = 4" color="primary" label="Continue" :done = "step > 4"/>
          </q-stepper-navigation> -->
        </q-step>
  
        <q-step :name="4" title="Feedback Reviewing" icon="add_comment" :done="step > 4">
          The Managing Editor is currently reviewing the peer reviewer's
          feedback.
  
          <!-- <q-stepper-navigation>
            <q-btn @click="step = 5" color="primary" label="Continue" />
          </q-stepper-navigation> -->
        </q-step>
  
        <q-step :name="5" title="Final Decision" icon="add_comment" :done="step > 5">
          The Managing Editor is currently reviewing the peer reviewer's
          feedback.
  
          <!-- <q-stepper-navigation>
            <q-btn @click="step = 6" color="primary" label="Finish" />
          </q-stepper-navigation> -->
        </q-step>
      </q-stepper>
    </div>
  </div>
</template>
<script setup>
import { onMounted, ref } from "vue";
import api from "src/js/api";
import { useRoute, useRouter } from "vue-router";

const router = useRouter()
const route = useRoute()

const journalId = route.params.articleId
const journal = ref({})

const journalStatus = ref()

const step = ref(journalStatus)

onMounted(async () => {
  if (journalId > 0) {
    journal.value = await getJournalById(journalId)
    console.log(journal.value);
    journalStatus.value = journal.value.status
    console.log('this is the step value: ' , step.value);
    
  }
})

const getJournalById = journalId => {
  return new Promise(resolve => {
    api.get(`/journals/${journalId}`)
      .then(response => {
        resolve(response.data)
      })
      .catch(error => {
        console.error(error);
      })
  })
}

const onBackHandler = () => {
  router.push(`/user/track-journal-list`)
}
</script>

<style lang="scss">
// .s-title {

// }</style>