<template>
  <div class="tracklist-container q-pa-md q-mt-lg">
    <div class="full-width">
      <q-btn
        flat
        icon="arrow_back"
        label="Back"
        @click="backButtonHandler"
      />
    </div>
    <div v-if="articleList.length > 0">
      <q-card v-for="article in articleList" :key="article.id" @click="selectedArticleHandler(article)"
        class="article-container items-center" clickable v-ripple>
        <q-item-section avatar>
          <q-avatar class="a-image">
            <img src="../assets/JSIT_logoBW.png" />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1" class="a-title">
            {{ article.title }}
          </q-item-label>
          <q-item-label caption lines="2">
            <span class="a-author text-weight-bold">{{ article.journal_authors[0].name }}</span>
          </q-item-label>
          <q-item-label>
            <span class="a-date">{{ new Date(article.created_at).toLocaleDateString() }}</span>
          </q-item-label>
        </q-item-section>
      </q-card>
    </div>
    <div v-else class="flex flex-center">
      <span class="text-h5 text-grey-6">
        No Pending Journal
      </span>
    </div>
  </div>
</template>
<style></style>
<script setup>
import api from 'src/js/api';
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';

const articleList = ref([])
const router = useRouter()

const noDataHandler = ref()

//actions

onMounted(() => {
  getArticleList()
})

const getArticleList = () => {
  api.get('/journals')
    .then(response => {
      if (response.status == 200) {
        return articleList.value = response.data
      }
      else {
        noDataHandler = ref(false)
      }
    })
    .catch(error => {
      console.error(error)
    })
}

function selectedArticleHandler(article) {
  if (localStorage.getItem('authUser')) {
    router.push(`/user/track-journal/${article.id}/${(article.title.toLowerCase()).replace(' ', '-')}`)
  }
}

const backButtonHandler = () => {}

</script>

<style lang='scss'>
.tracklist-container {
  @media (min-width: 768px) {
    margin-left: 100px;
    margin-right: 100px;
  }
}
</style>