<template>
    <div class="q-pa-md">
      <div class="full-width text-center">
        <span class="text-h5">Authors and Affiliate</span>
      </div>
      <q-separator class="q-my-md"/>
      <div v-for="author in journal.journal_authors" :key="author.id">
        <span class="text-subtitle1">{{ journal.journal_authors[0] ? 'Lead Author' : 'Author' }}</span>
        <div class="text-subtitle1">
          {{ author.name }}
        </div>
        <div class="text-caption">
          {{ author.affiliate }}
        </div>
        <div class="text-caption">
          {{ author.email }}
        </div>
      </div>
    </div>
</template>
<script setup>
import api from 'src/js/api';
import { onMounted, reactive, ref } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute()
const journalId = route.params.articleId
const journal = ref({})

onMounted(async () => {
  if (journalId > 0) {
    journal.value = await getJournalById(journalId)
  }
})


const getJournalById = journalId => {
  return new Promise(resolve => {
    api.get(`/journals/${journalId}`)
      .then(response => {
        if (response.status == 200) {
          resolve(response.data)
        }
      })
      .catch(error => {
        console.error(error);
      })
  })
}

</script>
<style></style>