<template>
  <div class="flex flex-center">
    <q-card>
      <q-card-section>
        <span>Congratulations,</span>
        <div class="text-caption">
          Your article is now one step away from publishing. You are free to decide whether you want your work to be
          published here. Thank you for your hardwork
        </div>
      </q-card-section>
      <q-card-section>
        <div class="row col">
          <div class="col-6">
            <q-btn label="Download PDF" />
          </div>
          <div class="col-6">
            <q-btn flat label="DO NOT PUBLISH" color="negative" />
            <q-btn label="APPROVE TO PUBLISH" color="primary" />
          </div>
        </div>

      </q-card-section>
    </q-card>
  </div>
</template>
<script setup>

</script>