<template>
    <div id="ChangePasswordForm">
        
        <q-form @submit="submitForm">
            <q-item-label class="text-grey-8 q-mb-sm">New Password</q-item-label>
            <q-input
                type="email"
                v-model="data.form.email"
                class="q-mb-lg"
                :rules="[setRules]"
                hide-bottom-space
                outlined
                dense
            />
            
            <q-item-label class="text-grey-8 q-mb-sm">Confirm Password</q-item-label>
            <q-input
                type="email"
                v-model="data.form.email"
                class="q-mb-lg"
                :rules="[setRules]"
                hide-bottom-space
                outlined
                dense
            />

            <q-btn
                type="submit"
                label="Set New Password"
                class="full-width"
                color="primary"
                no-caps
                :loading="data.form.loading"
            />
        </q-form>
    </div>
</template>
<script>
import { reactive } from 'vue';
import api from 'src/js/api';

export default {
    setup() {
        let data = reactive({
            form: {},
            api: 'forgot-password',
        });

        function submitForm() {
            api.post(data.api, data.form)
                .then(res => {
                  
                })
                .catch(err => {
                  console.error(err);
                })
                .finally(() => {
                  data.form.loading = false;
                });
        }
    
        return {
            data,
            submitForm,

            setRules
        }
    }
}
</script>
