<template>
  <div>
    <q-form @submit="submitForm" class="q-pt-md q-gutter-y-md">
      <q-item-label class="text-grey-8 q-mb-sm">First Name</q-item-label>
      <q-input
        v-model="form.first_name"
        :rules="[useSetRules]"
        hide-bottom-space
        outlined
        dense
      />

      <q-item-label class="text-grey-8 q-mb-sm">Last Name</q-item-label>
      <q-input
        v-model="form.last_name"
        :rules="[useSetRules]"
        hide-bottom-space
        outlined
        dense
      />
      
      <q-item-label class="text-grey-8 q-mb-sm">Email</q-item-label>
      <q-input
        type="email"
        v-model="form.email"
        :rules="[useSetRules]"
        hide-bottom-space
        outlined
        dense
      />
      
      <q-item-label class="text-grey-8 q-mb-sm">Message</q-item-label>
      <q-input
        type="textarea"
        v-model="form.message"
        :rules="[useSetRules]"
        hide-bottom-space
        autogrow="false"
        outlined
        dense
      />

      <div class="q-pt-md flex justify-end">
        <q-btn
          type="submit"
          label="Submit"
          color="primary"
          :loading="formLoading"
          no-caps
        />
      </div>
    </q-form>
  </div>
</template>

<script setup>
import api from "src/js/api";
import { useSetRules } from "src/use/useSetRules";
import notify from "src/utils/notify";
import { reactive, ref } from "vue";

const apiUrl = 'contacts'
const formDefault = {
    first_name: '',
    last_name: '',
    email: '',
    message: '',
}
const form = reactive({
  ...formDefault
})
const formLoading = ref(false)

function submitForm() {
  formLoading.value = true

  api.post(apiUrl, form)
    .then((response) => {
      notify.setup(!!response.data, 'Your queries is successfully saved')

      if (response.data) {
        Object.assign(form, formDefault)
      }
    })
    .catch((err) => {
      console.error(err);
    })
    .finally(() => {
      formLoading.value = false
    });
}
</script>