<template>
  <div class="q-pa-xl">
    <div class="row col">
      <div class="flex flex-center col-12">
        <img class="col-5 items-center" src="../assets/JSIT_logo.png" />
      </div>
      <div class="text-center title text-h4 text-bold col-12">
        Activate your email
      </div>
      <span class="text-center text-italic text-subtitle1 col-12">
        Check your email for your activation.
      </span>
      <div class="flex flex-center col-12 q-mt-lg">
        <q-btn
          class="btn-style"
          size="md"
          filled
          rounded
          color="primary"
          label="Back to Home" 
          to="/"
        />
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.btn-style {
  width: 200px;
}
</style>