<template>
    <div class="forgot-password-form">
        <q-item-label class="email-title">Enter your registered email</q-item-label>
        <q-form class="email-field" @submit="submitForm">
            <q-input
                type="email"
                v-model="data.form.email"
                :rules="[setRules]"
                hide-bottom-space
                outlined
                dense
            />
        </q-form>

        <div class="button-container">
            <q-btn
                class="back-btn"
                icon="arrow_back"
                label="Back"
                to="/"
                flat
            />
            <q-btn
                type="submit"
                class="submit-btn"
                label="Send Verification"
                color="green"
            />
        </div>
        
    </div>
</template>
<script>
import { reactive } from 'vue';
import api from 'src/js/api';

export default {
    setup() {
        let data = reactive({
            form: {},
            api: 'forgot-password',
        });

        function submitForm() {
            api.post(data.api, data.form)
                .then(res => {
                  
                })
                .catch(err => {
                  console.error(err);
                })
                .finally(() => {
                  data.form.loading = false;
                });
        }
    
        return {
            data,
            submitForm,
            setRules
        }
    }
}
</script>

<style lang="scss">
.email-title {
    color: $primary;
    padding-bottom: 6px;
    font-size: 16px;
}

.email-field {
    padding-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.back-btn {
    @media (max-width: 1023px) {
        font-size: 14px;
    }
}

</style>
