<template>
  <div class="j-list-container q-pa-md">
    <div>
      <div class="text-center">
        <q-btn flat dense icon="arrow_back" @click="backRouteHandler()" label="Back to home" />
      </div>

      <q-space />
  
      <div v-if="journalList.length == 0" class="text-center text-h5 text-lowercase text-grey-8 q-ma-md">
        No Journals available
      </div>

      <div class="q-ma-lg" v-else>
  
        <div class="journal-container row items-center full-width q-gutter-x-md">
          <q-card
            v-for="journal in journalList"
            :key="journal.id"
            flat
            bordered
            v-ripple
            class="journal-card q-ma-sm cursor-pointer q-hoverable"
            @click="selectedJournalHandler(journal)"
          >
            <img :src="setPictureUrl(journal.cover_image)" alt="journal-image"/>
          </q-card>
        </div>
      </div>

      

    </div>
  </div>
</template>

<script setup>
import api from "src/js/api";
import utils from "src/utils/utils";
import { computed, onMounted, reactive, ref } from "vue";
import { useRoute, useRouter } from "vue-router";

const route = useRoute()
const router = useRouter();

const journalList = ref([])

onMounted(async () => {
  getJournalList() 
  
});

const getJournalList = () => {
  api.get("journals/public")
    .then((response) => {
      if (response.data.length > 0) {
        journalList.value = response.data
        console.log(response.data);
        console.log('Journal: ',journalList.value);

      }
    })
    .catch((err) => {
      console.error(err);
    });
};

const setPictureUrl = (filename) => {
  return utils.setPictureUrl(filename);
}

const backRouteHandler = () => {
  router.go(-1)
}

const selectedJournalHandler = (journal) => {
  api.get('authenticated')
    .then((response) => {
      if (response.data) {
        return router.push(`/user/${journal.id}/articles`);
      }
    })
    .catch((error) => {
      console.error(error);
      return router.push(`/journals/${journal.id}/articles`);
    })
};
</script>

<style lang="scss">
.j-list-container {
  margin-left: 100px;
  margin-right: 100px;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.journal-card {
  max-width: 200px;

  @media (max-width: 425px) {
    width: 150px;
  }
}
</style>