<template>
  <div>
    <div class="q-gutter-md row inline">
      <q-card
        class="q-pt-md"
        v-for="journalCategory in journalCategoryList"
        :key="journalCategory.id"
        @click="selectedJournalHandler(journalCategory)"
        clickable
        v-ripple
      >
        <q-item class="flex text-center">
          <q-item-section class="q-gutter-y-sm text-body1">
            <div>
              {{ journalCategory.name }}
            </div>
            <q-separator />
          </q-item-section>
        </q-item>
      </q-card>
    </div>
  </div>
</template>
<script setup>
import api from "src/js/api";
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();
const journalCategoryList = ref([]);

onMounted(() => {
  getJournalCategories();
});

const getJournalCategories = () => {
  api.get("journal-categories")
    .then((response) => {
      if (response.data.length > 0) {
        journalCategoryList.value = response.data;
      }
    })
    .catch((error) => {
      console.error(error);
    });
};

const selectedJournalHandler = (journalCategory) => {
  api.get('authenticated')
    .then((response) => {
      if(response.data){
        router.push(`/user/journals/${journalCategory.name}`);
      }
      else{
        router.push(`/journals/${journalCategory.name}`);
      }
    })
    .catch(() => {
      router.push(`/journals/${journalCategory.name}`);
    })
};
</script>
<style>
</style>