<template>
  <div class="printISSN q-pa-md text-center text-h5 text-primary">
    <span>Print ISSN:</span>
    <span>2984-9284</span>
  </div>
  <div class="ui-content q-my-md row col">
    <div class="col-12 col-sm-6 flex flex-center ">
      <img class="image-container shadow-8" src="../assets/research_cover.png" alt="homeDesignImage">
    </div>
    <div class="col-12 col-sm-6 q-my-md">
      <div class="text-content">
        The Journal of Science, Innovation and Technology is an open-access, peer-reviewed, multidisciplinary research
        journal governed by the Pampanga State Agricultural University based in Magalang, Pampanga, Philippines. The
        journal focuses on original reporting and experimental and theoretical contributions to applied and social
        science research.
      </div>
      <div class="col-6 q-gutter-y-sm q-my-md">
        <div class="text-content2">
          Editor: Dr. Jasmin Villanueva
        </div>

        <div class="text-content2">
          Format: Print & online
        </div>

        <div class="text-content2">
          Frequency: Annual
        </div>

        <div class="text-content2">
          Language: English
        </div>

        <div class="text-content2">
          Scope: multidisciplinary
        </div>

        <div class="text-content2">
          Access: open-access
        </div>

        <div class="text-content2">
          Policy: double-blind peer-reviewed
        </div>

        <div class="text-content2">
          Review time: approximately 4-6 weeks
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
</script>
<style lang="scss">

.image-container {
  width: 270px;
}
.ui-content {
  margin-left: 100px;
  margin-right: 100px;
  
  @media(max-width: 768px) {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.text-content {
  font-weight: bold;
  font-size: 16px;
  @media (max-width: 425px) {
    font-size: 14px;
  }
}

.text-content2 {
  font-size: 16px;
  @media (max-width: 425px) {
    font-size: 14px;
  }
}
</style>