<template>
    <div>
        <div class="gt-sm">
            <div class="row">
                <div class="col-7 q-pt-md content-center">
                    <q-form @submit="onSubmit" class="q-col-gutter-md">
                        <div class="form-input q-px-lg items-center">
                            <q-input label="Email" v-model="data.form.email" hide-bottom-space dense focus />

                            <q-input class="q-my-sm" v-model="data.form.password" :type="password ? 'password' : 'text'"
                                label="Password" hide-bottom-space dense>
                                <template v-slot:append>
                                    <q-icon :name="password ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                                        @click="password = !password" />
                                </template>
                            </q-input>
                            <q-btn label="Forgot Password" to="/forgot-password" color="primary" class="q-mb-sm" flat
                                dense no-caps />

                            <div class="mainBtn flex justify-end">
                                <q-btn type="submit" label="Login" class="full-width" color="primary" no-caps
                                    :loading="data.form.loading" />
                            </div>
                            <div>
                                <span class="text-grey-9">
                                    Wanna publish your journal?
                                </span>
                                <q-btn label="Sign up" to="/register-client" color="secondary" flat
                                    dense no-caps />
                            </div>
                        </div>
                    </q-form>
                </div>
                <div class="col-5">
                    <img class="img-logo" src="../assets/JSIT_logo.png" alt="sublogo" />
                </div>
            </div>
            <div name="continue as guest" class="flex justify-center q-pt-lg full-width guest-btn">
                <q-btn to="/journals" label="Click here to continue as guest" flat dense no-caps />
            </div>
        </div>
        <show-details-popup v-if="data.showForgotPassPopup" @onClose="data.showForgotPassPopup = false" persistent noOk
            :width="'800'">
            <template #content>
                <forgot-pass />
            </template>
        </show-details-popup>
        <!-- Responsive -->
        <div class="lt-md">
            <div class="image-container full-width flex justify-center">
                <img class="img-logo2" src="../assets/JSIT_logo.png" alt="sublogo" />
            </div>
            <q-form @submit="onSubmit" class="q-col-gutter-md">
                <div class="q-px-xl items-center">
                    <q-input label="Email" class="full-width q-pb-sm" v-model="data.form.email" dense />
                    <q-input class="q-my-sm" v-model="data.form.password" :type="password ? 'password' : 'text'"
                        label="Password" hide-bottom-space dense>
                        <template v-slot:append>
                            <q-icon :name="password ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                                @click="password = !password" />
                        </template>
                    </q-input>

                    <q-btn to="/forgot-password" label="Forgot Password" color="primary" class="q-mb-lg" flat dense
                        no-caps />

                    <div class="mainBtn flex justify-end">
                        <q-btn type="submit" label="Login" class="full-width" color="primary" no-caps
                            :loading="data.form.loading" />
                    </div>

                    <div>
                        <span class="text-grey-9">
                            Wanna publish your journal?
                        </span>
                        <q-btn label="Sign up" to="/register-client" color="secondary" flat
                            dense no-caps />
                    </div>
                    
                    <div class="flex justify-center">
                        <q-btn label="Click here to continue as guest" to="/journals" flat dense no-caps />
                    </div>
                    <!-- to="forgotpassword"  || @click="data.showForgotPassPopup = true" -->
                </div>
            </q-form>
        </div>
    </div>
</template>
<script>
import { reactive, ref } from "vue";
import { useRouter } from "vue-router";
import api from "src/js/api";
import { useQuasar } from "quasar";

export default {
    setup() {
        const router = useRouter();
        const $q = useQuasar();

        let data = reactive({
            form: {},
            errors: {},
            api: "login",
        });

        function triggerPos() {
            $q.notify({
                type: "positive",
                icon: "task_alt",
                message: "Login Success",
                progress: true,
                timeout: 400
            });
        }

        function triggerNeg() {
            $q.notify({
                type: "negative",
                icon: "warning",
                message: "Username or Password is incorrect",
                progress: true,
                timeout: 400
            });
        }

        function onSubmit() {
            data.form.loading = true;

            api.post(data.api, data.form)
                .then((res) => {
                    if (!res.data.token) {
                        return;
                    }

                    localStorage.setItem(
                        "authUser",
                        JSON.stringify(res.data.user)
                    );
                    localStorage.setItem("token", res.data.token);

                    if (res.data.user.role_code == 3) {
                        triggerPos();
                        return router.push({ path: `/admin/articles` });  // path will be change depends on department code
                    }

                    router.push("/admin/dashboard");
                    triggerPos();
                })
                .catch((err) => {
                    console.error(err);
                    triggerNeg();
                })
                .finally(() => {
                    data.form.loading = false;
                });
        }

        return {
            data,
            onSubmit,
            triggerNeg,
            triggerPos,
            password: ref(true),
        };
    },
};
</script>
<style lang="scss">
.img-logo {
    margin: -16px;
    margin-top: 4px;
    display: block;
    width: 100%;
    max-width: 1000px;
}

.image-container {
    padding-bottom: 50px;
}

.img-logo2 {
    margin: -16px;
    margin-top: 4px;
    display: block;

    @media (max-width: 1024px) {

        width: 300px;
    }

    @media (max-width: 375px) {

        width: 200px;
    }
}
</style>