<template>
  <div class="page-container q-pa-md row col">
    <div class="text-h5 text-grey-8 text-uppercase q-mb-md row col">
      <div>
        Account Registration
      </div>

      <q-space/>
      
      <div class="items-center">
        <q-btn to="/" icon="close" flat>
          <span :hidden="$q.screen.lt.lg">Back to home page</span>
        </q-btn>
      </div>
    </div>
    <div id="UserForm">
      <q-form @submit="onSubmit" class="row q-col-gutter-lg">
        <div class="col-12 col-sm-4">
          <q-input label="First Name" v-model="form.first_name" :error="isError(form.errors.first_name)"
            :error-message="getErrorMessage(form.errors.first_name)" hide-bottom-space dense />
        </div>

        <div class="col-12 col-sm-3">
          <q-input label="Middle Name" v-model="form.middle_name" :error="isError(form.errors.middle_name)"
            :error-message="getErrorMessage(form.errors.middle_name)" dense />
        </div>

        <div class="col-12 col-sm-4">
          <q-input label="Last Name" v-model="form.last_name" :error="isError(form.errors.last_name)"
            :error-message="getErrorMessage(form.errors.last_name)" hide-bottom-space dense />
        </div>

        <div class="col-12 col-sm-1">
          <q-input
            label="Suffix"
            v-model="form.suffix"
            :error="isError(form.errors.suffix)"
            :error-message="getErrorMessage(form.errors.suffix)"
            hide-bottom-space
            dense 
          />
        </div>

        <div class="col-12 col-sm-2">
          <q-input label="Age" type="number" v-model="form.age" :error="isError(form.errors.age)"
            :error-message="getErrorMessage(form.errors.age)" hide-bottom-space dense />
        </div>

        <div class="col-12 col-sm-2">
          <q-select label="Gender" :options=genderOption v-model="form.gender" :error="isError(form.errors.gender)"
            :error-message="getErrorMessage(form.errors.gender)" hide-bottom-space dense />
        </div>

        <div class="col-12 col-sm-2">
          <q-input
            label="Position/Designation"
            v-model="form.position"
            :error="isError(form.errors.position)"
            :error-message="getErrorMessage(form.errors.position)"
            hide-bottom-space
            dense 
          />
        </div>

        <div class="col-12 col-sm-6">
          <q-input label="Affiliation" v-model="form.address" :error="isError(form.errors.address)"
            :error-message="getErrorMessage(form.errors.address)" hide-bottom-space dense />
        </div>

        <div class="col-12 col-sm-6">
          <q-input label="Email" type="email" v-model="form.email" :error="isError(form.errors.email)"
            :error-message="getErrorMessage(form.errors.email)" hide-bottom-space dense />
        </div>

        <div class="col-12 col-sm-6">
          <q-input label="Contact Number" v-model="form.contact_number" hide-bottom-space dense />
        </div>

        <div class="col-12 col-sm-6" v-if="!form.id">
          <q-input
            label="Password"
            :type="passwordVisibility ? 'password' : 'text'"
            v-model="form.password"
            :error="isError(form.errors.password)"
            :error-message="getErrorMessage(form.errors.password)"
            hide-bottom-space
            dense
          >
            <template v-slot:append>
            <q-icon
              :name="passwordVisibility ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="passwordVisibility = !passwordVisibility"
            />
            </template>
          </q-input>
        </div>

        <div class="col-12 col-sm-6" v-if="!form.id">
          <q-input
            label="Confirm Password"
            :type="passwordConfirmationVisibility ? 'password' : 'text'"
            v-model="form.password_confirmation"
            :error="isError(form.errors.password_confirmation)"
            :error-message="getErrorMessage(form.errors.password_confirmation)"
            hide-bottom-space
            dense
          >
            <template v-slot:append>
              <q-icon
                :name="passwordConfirmationVisibility ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="passwordConfirmationVisibility = !passwordConfirmationVisibility"
              />
            </template>
          </q-input>
        </div>
        <div>
          <q-btn @click="onSubmit()" label="Register" color="primary" no-caps />
        </div>
      </q-form>
    </div>
  </div>
</template>

<script setup>
import { reactive, ref } from "vue";
import api from "src/js/api";
import utils from "src/utils/utils";
import { useRouter } from "vue-router";

const router = useRouter();
const genderOption = ["Male", "Female"];
const form = reactive({
  first_name: '',
  email: '',
  password: '',
  password_confirmation: '',
  role_code: 3,
  errors: {},
});
const passwordVisibility = ref(true)
const passwordConfirmationVisibility = ref(true)

const formLoading = ref(false)

const onSubmit = () => {
  formLoading.value = true
  api.post('register', form)
    .then(res => {
      router.push('/email-activation')
    })
    .catch(error => {
      form.errors = setErrors(error)
    })
}

const isError = (err) => {
  return utils.isError(err);
};

const getErrorMessage = (err) => {
  return utils.getErrorMessage(err);
};

// actions
</script>