<template>
    <div>
      <q-parallax :height="200" :speed="0.5">
          <template v-slot:media>
            <img src="../assets/Parallax_BG.png">
          </template>
      </q-parallax>
    </div>
</template>
