<template>
  <div class="q-ma-md flex flex-center">
    <q-card>
      <q-card-section>
        <div class="full-width text-center">
          <div class="header text-h5">
            Title of the journal
          </div>
          <div>
            Date published
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="q-pa-md text-center">
          <span class="text-bold text-h6">
            P
          </span>
          <span class="text-h2 text-bold">
            499
          </span>
        </div>
      </q-card-section>
      <q-card-section>
        <q-btn class="full-width" color="primary" label="Subscribe"/>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">

</style>