<template>
  <div class="q-gutter-y-md">
    <!-- Main Header -->
    <div class="text-body2">
      Welcome to the Journal of Science Information and Technology (JSIT), an academic publication of the Pampanga State
      Agricultural University in Magalang, Pampanga, Philippines. Below are our guidelines and expectations for
      submissions, reviews, and publications.
    </div>
    <div class="Content">
      <div class="text-h6">
        1. Overview
      </div>
      <div class="text-body2">
        These terms outline the process for submitting, reviewing, and publishing content in JSIT and guidelines for
        authors, reviewers, and readers.
      </div>
    </div>
    <!-- Submission Guidelines-->
    <div class="Content q-gutter-y-sm">
      <div class="text-h6">
        2. Submission Guidelines
      </div>
      <div>
        <div class="q-gutter-y-sm text-subtitle1">
          2.1 Who Can Submit
        </div>
        <div class="text-body2">
          If you've created original research, review articles, or other scholarly works relevant to JSIT’s scope,
          you're welcome to submit, regardless of your institutional affiliation. Here are some key requirements:
        </div>
        <div class="q-my-sm">
          <ul>
            <li>
              Your work must be original and not published anywhere else.
            </li>
            <li>
              By submitting, you grant JSIT permission to publish and share your work.
            </li>
            <li>
              It must follow ethical research standards and include all necessary documentation.
            </li>
          </ul>
        </div>
        <div class="q-gutter-y-sm text-subtitle1">
          2.2 Copyright and Permissions
        </div>
        <div class="q-my-sm">
          <ul>
            <li>
              You keep the copyright to your work.
            </li>
            <li>
              By submitting, you grant JSIT permission to publish and share your work.
            </li>
            <li>
              You promise that you have the authority to grant this permission and agree to credit JSIT appropriately
              if you reuse your work.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Submission Guidelines -->
    <!-- Peer Review Process -->
    <div class="text-h6">
      3. Peer Review Process
    </div>
    <div class="Part 3.1">
      <div class="q-gutter-y-sm text-subtitle1">
        3.1 The Review Process
      </div>
      <div class="q-my-sm">
        <ul>
          <li>
            Submissions are first checked by our editorial team.
          </li>
          <li>
            If approved, they'll be reviewed by at least two experts through a double-blind process (reviewers and
            authors remain anonymous to each other).
          </li>
          <li>
            Reviewers must disclose any conflicts of interest.
          </li>
          <li>
            The Editor-in-Chief has the final say on whether your work is published.
          </li>
        </ul>
      </div>
    </div>
    <div class="Part 3.2">
      <div class="q-gutter-y-sm text-subtitle1">
        3.2 Review Timeline
      </div>
      <div class="q-my-sm">
        <ul>
          <li>
            <span class="text-bold">
              Initial screening:
            </span>
            Within 2 weeks of submission.
          </li>
          <li>
            <span class="text-bold">
              Peer review:
            </span>
            4-8 weeks.
          </li>
          <li>
            <span class="text-bold">
              Revisions:
            </span>
            As outlined in the decision letter.
          </li>
          <li>
            <span class="text-bold">
              Final Decision:
            </span>
            Within 2 weeks of receiving your revised manuscript.
          </li>
        </ul>
      </div>
    </div>
    <!-- End Peer Reviewer Process -->
    <!-- Publication Terms -->
    <div class="text-h6">
      4. Publication Terms
    </div>
    <div class="Part 3.1">
      <div class="q-gutter-y-sm text-subtitle1">
        4.1 Open Access
      </div>
      <div class="q-my-sm">
        <ul>
          <li>
            JSIT follows an open-access policy: all articles are freely available online.
          </li>
          <li>
            There are no subscription fees for readers, but article processing charges may apply.
          </li>
        </ul>
      </div>
    </div>
    <div class="Part 3.2">
      <div class="q-gutter-y-sm text-subtitle1">
        4.2 Quality Standards
      </div>
      <div class="q-my-sm">
        To be published, your article must:
        <ul>
          <li>
            Meet our formatting guidelines.
          </li>
          <li>
            Include proper citations and references
          </li>
          <li>
            Disclose funding sources and any conflicts of interest.
          </li>
          <li>
            Follow standards for data sharing and reproducibility.
          </li>
        </ul>
      </div>
    </div>
    <!-- End Publication Terms -->
    <!-- Author Responsibilities -->
    <div class="Content q-gutter-y-sm">
      <div class="text-h6">
        5. Author Responsibilities
      </div>
      <div>
        <div class="text-body2">
          When submitting to JSIT, you are responsible for:
        </div>
        <div class="q-my-sm">
          <ul>
            <li>
              Ensuring the accuracy of your work.
            </li>
            <li>
              Reporting errors if theyre discovered after publication.
            </li>
            <li>
              Disclosing funding sources and conflicts of interest.
            </li>
            <li>
              Obtaining permission to use third-party content.
            </li>
            <li>
              Adhering to ethical guidelines for research..
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Author Responsibilities -->
    <!-- Privacy and Data Protection -->
    <div class="Content q-gutter-y-sm">
      <div class="text-h6">
        6. Privacy and Data Protection
      </div>
      <div>
        <div class="q-gutter-y-sm text-subtitle1">
          6.1 Personal Information
        </div>
        <div class="q-my-sm">
          <ul>
            <li>
              We protect personal data under the <b>Data Privacy Act of 2012</b> (Republic Act 10173).
            </li>
            <li>
              Your information will only be used for journal operations and retained according to university policies.
            </li>
            <li>
              You can request access to or deletion of your personal data.
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="q-gutter-y-sm text-subtitle1">
          6.2 Research Data
        </div>
        <div class="q-my-sm">
          <ul>
            <li>
              You must comply with data-sharing requirements specific to your field.
            </li>
            <li>
              Any sensitive data should be anonymized.
            </li>
            <li>
              A data availability statement is required with your submission.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Author Responsibilities -->
    <!-- Legal Framework -->
    <div class="Content q-gutter-y-sm">
      <div class="text-h6">
        7. Legal Framework
      </div>
      <div>
        <div class="q-gutter-y-sm text-subtitle1">
          7.1 These terms follow the policies of Pampanga State Agricultural University.
        </div>
      </div>
      <div>
        <div class="q-gutter-y-sm text-subtitle1">
          7.2 Resolving Disputes
        </div>
        We aim to resolve disputes through:
        <div class="q-my-sm">
          <ol type="number">
            <li>
              Informal discussions.
            </li>
            <li>
              Any sensitive data should be anonymized.
            </li>
            <li>
              A data availability statement is required with your submission.
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- End Legal Framework -->
    <!-- Amendments -->
    <div class="Content q-gutter-y-sm">
      <div class="text-h6">
        8. Amendments
      </div>
      <div>
        <div class="q-my-sm">
          <ul>
            <li>
              Significant updates will be announced 30 days in advance.
            </li>
            <li>
              Minor corrections take effect immediately.
            </li>
            <li>
              Updates will be posted on the JSIT website, and authors and the editorial board will be notified.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Amendments -->
    <!-- Amendments -->
    <div class="Content q-gutter-y-sm">
      <div class="text-h6">
        9. Contact Information
      </div>
      <div class="text-body2">
        For questions and concerns, please refer to the following:
      </div>
      <div>
        <div class="q-my-sm">
          <ul>
            <li>
              Email: editorjsit2022@psau.edu.ph
            </li>
            <li>
              Address: Pampanga State Agricultural University, Magalang, Pampanga
            </li>
            <li>
              Website: jsit.com.ph
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Amendments -->
  </div>
</template>
<script setup>

</script>
<style lang="scss"></style>