<template>
  <q-layout view="lHh Lpr lff" v-if="drawerLoaded">
    <q-header elevated class="bg-green-8">
      <q-toolbar>
        <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
        <!-- <q-toolbar-title>Dashboard</q-toolbar-title> -->
      </q-toolbar>
    </q-header>

    <q-drawer v-model="drawer" show-if-above :width="230" :breakpoint="400">
      <q-scroll-area style="
          height: calc(100% - 150px);
          margin-top: 150px;
          border-right: 1px solid #ddd;
        ">
        <q-list padding>
          <q-item to="/admin/dashboard" clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="dashboard" />
            </q-item-section>

            <q-item-section> Dashboard </q-item-section>
          </q-item>
          <!-- SAMPLE EXPANSION
  <q-expansion-item
    expand-separator
    icon="inventory"
    label="Inventory"
    :content-inset-level="0.3"
  >
    <q-item
      to="/inventory/dashboard"
      clickable
      v-ripple
    >
      <q-item-section avatar>
        <q-icon name="dashboard" />
      </q-item-section>

      <q-item-section> Dashboard </q-item-section>
    </q-item>
  </q-expansion-item>
END SAMPLE EXPANSION -->

          <q-item clickable v-ripple v-if="authUser.role_code == 4 && authUser.role_code != 3" to="/admin/articles">
            <q-item-section avatar>
              <q-icon name="article" />
            </q-item-section>
            <q-item-section> Articles </q-item-section>
          </q-item>
          <!-- Item icon -->
          <q-expansion-item expand-separator icon="article" label="Journals / Articles" :content-inset-level="0.3"
            v-if="authUser.role_code != 4 && authUser.role_code != 3">
            <!-- Item -->
            <q-item class="items-center" clickable v-ripple to="/admin/articles">
              Articles
            </q-item>

            <q-item class="items-center" clickable v-ripple to="/admin/journals">
              Journals
            </q-item>

            <q-item class="items-center" clickable v-ripple to="/admin/journals/reviewers">
              Reviewers
            </q-item>

            <!-- <q-item class="items-center" clickable v-ripple to="/admin/journals/authors">
              Authors
            </q-item> -->
            <!-- End Item -->
          </q-expansion-item>

          <q-item v-if="authUser.role_code != 4 && authUser.role_code != 3" to="/admin/page-sections" clickable
            v-ripple>
            <q-item-section avatar>
              <q-icon name="web" />
            </q-item-section>

            <q-item-section> Page Sections </q-item-section>
          </q-item>

          <q-item to="/admin/users" v-if="authUser.role_code != 4 && authUser.role_code != 3" clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="people" />
            </q-item-section>

            <q-item-section> Users </q-item-section>
          </q-item>
          
          <q-item
            to="/admin/contacts"
            v-if="authUser.role_code != 4 && authUser.role_code != 3"
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon name="contacts" />
            </q-item-section>

            <q-item-section>Contact Us</q-item-section>
          </q-item>

          <q-item to="/user/publish-article" v-if="authUser.role_code == 3" clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="publish" />
            </q-item-section>
            <q-item-section> Publish Article </q-item-section>
          </q-item>

          <q-item to="/admin/articles" v-if="authUser.role_code == 3" clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="article" />
            </q-item-section>
            <q-item-section> My Articles </q-item-section>
          </q-item>

          <q-item v-if="authUser.role_code == 3" clickable v-ripple to="/user">
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>
            <q-item-section> Back to Landing Page </q-item-section>
          </q-item>


          <q-item clickable v-ripple @click="onLogout()">
            <q-item-section avatar>
              <q-icon name="logout" />
            </q-item-section>
            <q-item-section> Logout </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>

      <q-img class="absolute-top" contain src="../assets/JSIT_logoBW.png" style="height: 150px">
        <div class="absolute-bottom bg-transparent">
          <q-avatar size="56px" class="q-mb-sm">
            <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
          </q-avatar>
          <div class="text-weight-bold text-black">
            {{ authUser.first_name }} {{ authUser.last_name }}
          </div>
          <div>{{ authUser.position }}</div>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <q-page padding>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script setup>
import api from "src/js/api";
import { onMounted, reactive, ref } from "vue";
import { useRouter } from "vue-router";

const drawer = ref(false);
const drawerLoaded = ref(false);
const authUser = ref(null);
const router = useRouter();

onMounted(() => {
  getAuthUser();
});

const getAuthUser = () => {
  api.get("user")
    .then((response) => {
      authUser.value = response.data;
      drawerLoaded.value = true;
    })
    .catch((err) => console.error(err));
};

const onLogout = () => {
  localStorage.clear();
  router.push("/");
};
</script>
