<template>
  <q-layout view="hHh lpR fff">
    <!-- Header -->
    <q-header class="s-header q-py-xs" reveal elavated>
      <q-toolbar class="q-py-auto justify-between">
        <div class="h-logo q-ml-lg q-mt-sm q-gutter-x-md row inline items-center">
          <!-- Header Logo -->
          <img src="../assets/JSIT_logoBW.png" class="header-logo" />
          <div class="journal-name" :hidden="$q.screen.lt.lg">
            <div class="journal-department text-bold">
              Journal of Science and Information Technology
            </div>
            <div class="university-name">
              Pampanga State Agricultural University
            </div>
          </div>
        </div>
        <div class="desktop-menu q-mx-lg" :hidden="$q.screen.lt.sm">
          <q-tabs v-model="tab">
            <q-route-tab class="l-tab" name="home" to="/">Home</q-route-tab>
            <q-route-tab class="l-tab" name="journals" to="/journals">Journal Issues</q-route-tab>
            <!-- About tab -->
            <q-btn-dropdown auto-close stretch flat label="About">
              <q-list>
                <q-item clickable to="/about">
                  <q-item-section>About the website</q-item-section>
                </q-item>

                <q-item clickable to="/editorial-board">
                  <q-item-section>Editorial Board</q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <!-- Policies tab -->
            <q-btn-dropdown auto-close stretch flat label="Policies">
              <q-list>
                <q-item clickable to="/open-access-policy">
                  <q-item-section>Open Access Policy</q-item-section>
                </q-item>
                <q-item clickable to="/copyright-policy">
                  <q-item-section>Copyright Policy</q-item-section>
                </q-item>
                <q-item clickable to="/publication-ethics">
                  <q-item-section>Publication Ethics</q-item-section>
                </q-item>
                <q-item clickable to="/plagiarism-screening">
                  <q-item-section>Plagiarism Screening</q-item-section>
                </q-item>
                <q-item clickable to="/grammar-screening">
                  <q-item-section>Grammar Screening</q-item-section>
                </q-item>

                <!-- <q-item clickable to="/editorial-board">
                  <q-item-section>Editorial Board</q-item-section>
                </q-item> -->
              </q-list>
            </q-btn-dropdown>
            <q-route-tab class="l-tab" name="contacts" to="/contact">Contact us</q-route-tab>
            <q-route-tab class="l-tab" name="login" @click="data.showLoginPopup = true">Login</q-route-tab>

            <!-- 
            <q-tab class="l-tab" name="login" label="Login">
              <q-menu>
                <q-list class="justify-center" style="width: 150px;">
                  <q-item clickable v-ripple v-close-popup @click="data.showLoginPopup = true">
                    <q-item-section>JSIT</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-tab> -->
          </q-tabs>
        </div>

        <div class="mobile-menu">
          <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" icon="menu" class="sidebar-icon" />
        </div>
      </q-toolbar>
    </q-header>

    <!-- Content -->
    <q-page-container>
      <router-view />
    </q-page-container>

    <!-- Login popup -->
    <show-details-popup v-if="data.showLoginPopup" @onClose="data.showLoginPopup = false" noOk :width="'800'">
      <template #content>
        <login-form />
      </template>
    </show-details-popup>

    <!-- Right sidebar -->
    <q-drawer v-model="leftDrawerOpen" class="landing-drawer" side="right" :width="200" :breakpoint="500" overlay
      elevated>
      <q-list class="q-mt-lg">
        <q-item clickable v-ripple v-close-popup to="/">
          <q-item-section avatar>
            <q-icon color="primary" name="home" />
          </q-item-section>

          <q-item-section>Home</q-item-section>
        </q-item>

        <q-item clickable v-ripple v-close-popup to="/journals">
          <q-item-section avatar>
            <q-icon color="primary" name="article" />
          </q-item-section>

          <q-item-section>Journal Issues</q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-icon color="primary" name="info" />
          </q-item-section>
          <q-item-section>About</q-item-section>

          <q-menu transition-show="flip-right" transition-hide="flip-left" anchor="top right">
            <q-list>
              <q-item clickable v-ripple v-close-popup to="/about">
                <q-item-section>About Journal</q-item-section>
              </q-item>

              <!-- <q-separator inset />

              <q-item clickable v-ripple v-close-popup to="/editorial-board">
                <q-item-section>Editorial Board</q-item-section>
              </q-item> -->
            </q-list>
          </q-menu>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-icon color="primary" name="policy" />
          </q-item-section>
          <q-item-section>Policy</q-item-section>

          <q-menu transition-show="flip-right" transition-hide="flip-left" anchor="top right">
            <q-list>
              <q-item clickable v-ripple v-close-popup to="/open-access-policy">
                <q-item-section>Open Access Policy</q-item-section>
              </q-item>

              <q-separator inset />

              <q-item clickable v-ripple v-close-popup to="/copyright-policy">
                <q-item-section>Copyright Policy</q-item-section>
              </q-item>

              <q-separator inset />

              <q-item clickable v-ripple v-close-popup to="/publication-ethics">
                <q-item-section>Publication Ethics</q-item-section>
              </q-item>

              <q-separator inset />

              <q-item clickable v-ripple v-close-popup to="/plagiarism-screening">
                <q-item-section>Plagiarism Screening</q-item-section>
              </q-item>

              <q-separator inset />

              <q-item clickable v-ripple v-close-popup to="/grammar-screening">
                <q-item-section>Grammar Screening</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-item>
        <q-item clickable v-ripple v-close-popup to="/contact">
          <q-item-section avatar>
            <q-icon color="primary" name="contact_support" />
          </q-item-section>

          <q-item-section>Contact us</q-item-section>
        </q-item>

        <q-separator />

        <q-item clickable v-ripple v-close-popup @click="data.showLoginPopup = true">
          <q-item-section avatar>
            <q-icon color="primary" name="login" />
          </q-item-section>
          <q-item-section>Login</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <!-- Footer -->
    <q-footer elevated class="landing-footer">
      <div class="footer-design q-pt-md q-px-xl">
        <div class="footer-style">
          <q-avatar class="footer-logo">
            <q-img src="../assets/PSAU_logo.png" />
          </q-avatar>
          <div class="footer-title q-pl-md">
            Pampanga State Agricultural University Journals Magalang, Pampanga
          </div>
        </div>
        <div class="footer-contact">
          PAC, Magalang<br />
          Pampanga, 2011 <br />
          Philippines
          <div>editorjsit2022@psau.edu.ph</div>
        </div>
      </div>
      <div class="btn-terms">
        <q-btn flat class="btn-label" label="Disclaimer" />
        <q-btn flat class="btn-label" label="Copyright and Licensing" />
        <q-btn flat class="btn-label" label="Terms of Services" />
        <q-btn flat class="btn-label" label="Privacy Policy" />
      </div>
    </q-footer>
  </q-layout>
</template>

<script setup>
import ShowDetailsPopup from "src/components/shared/ShowDetailsPopup.vue";
import { reactive, ref } from "vue";
import LoginForm from "../components/LoginForm.vue";

const leftDrawerOpen = ref(false)
const link = ref('')
const tab = ref('home')
let data = reactive({
  showLoginPopup: false,
});

function isUserLoggedIn() {
  if (localStorage.getItem('authUser')) {
    isUserLoggedIn = true
  }
  else {
    isUserLoggedIn = false
  }
}
</script>

<style lang="scss">
// header
.s-header {
  background-color: $h-primary;
}

.desktop-menu {
  display: flex;
  align-content: center;

  @media (max-width: 1023px) {
    display: none;
  }
}

.h-logo {
  width: 100%;
  height: 100%;
}

.l-tab {
  font-size: 14px;
}

.header-logo {
  max-width: 60px;

  @media (max-width: 1024px) {
    max-width: 50px;
    justify-content: center;
  }
}

.h-title {
  font-size: 14px;

  @media (max-width: 425px) {
    display: none;
  }
}

// end header

// sidebar
.sidebar-icon {
  font-size: 10px;
}

.active-menu {
  color: #000;
}

.mobile-menu {
  @media (max-width: 1023.99px) {
    display: block;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

// hide right sidebar in large screen
.landing-drawer {
  @media (max-width: 1023.99px) {
    display: block;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.item-label-text {
  font-size: 13px;
  align-content: flex-start;
}

.sub-item {
  display: flex;
  justify-content: flex-start;

  @media (min-width: 1024px) {
    padding-left: 15px;
  }
}

// end sidebar

// footer
.footer-logo {
  width: 100%;
  max-width: 140px;
  height: 100%;
  max-height: 140px;

  @media (max-width: 1023px) {
    max-width: 120px;
  }
}

.footer-style {
  @media (max-width: 1023.99px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.footer-title {
  @media (max-width: 1023.99px) {
    display: none;
  }

  @media (min-width: 1024px) {
    display: inline-flex;
    text-align: start;
  }
}

.footer-contact {
  padding-top: 24px;
  font-size: 12px;
  text-align: center;
  justify-content: center;

  @media (min-width: 1024px) {
    font-size: 14px;
    text-align: end;
    align-content: center;
  }
}

.footer-design {
  @media (max-width: 1023.99) {
    display: flex;
    font-size: 14px;
    text-align: center;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
  }
}

.landing-footer {
  background-color: $h-primary;

  @media (max-width: 1023.99px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
    justify-content: center;
  }
}

.btn-terms {
  padding-top: 24px;
  display: flex;
  justify-content: center;

  @media (min-width: 1024px) {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
}

.list-item {
  padding-left: 32px;
}

.btn-label {
  font-size: 8px;
  margin-bottom: 10px;

  @media (min-width: 1024px) {
    font-size: 12px;
  }
}

// end footer</style>
