<template>
  <q-layout>
    <q-header class="s-header q-py-xs" reveal elavated>
      <q-toolbar class="q-py-auto justify-between">
        <div class="h-logo q-ml-lg q-mt-sm q-gutter-x-md row inline items-center">
          <!-- Header Logo -->
          <img src="../assets/JSIT_logoBW.png" class="header-logo" />
          <div class="journal-name">
            <div class="journal-department text-bold">
              Journal of Science and Information Technology
            </div>
            <div class="university-name">
              Pampanga State Agricultural University
            </div>
          </div>
        </div>
        <div class="desktop-menu q-mr-md items-center">
          <q-btn round flat style="height: fit-content;" icon="menu">
            <q-menu :offset="[0, 9]">
              <q-list class="q-mx-xs q-my-sm" style="min-width: 250px">
                <q-item to="/admin/dashboard" class="user-name text-body1" v-ripple clickable>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="../assets/PSAU_logo.png" alt="button-image">
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    {{ data.list.first_name }} {{ data.list.last_name }}
                  </q-item-section>
                </q-item>

                <q-item clickable v-ripple v-close-popup to="/user/">
                  <q-item-section avatar>
                    <q-icon name="home" />
                  </q-item-section>
                  <q-item-section>Home</q-item-section>
                </q-item>
                <q-item clickable v-ripple v-close-popup to="/user/journals">
                  <q-item-section avatar>
                    <q-icon name="description" />
                  </q-item-section>
                  <q-item-section>Journal Issues</q-item-section>
                </q-item>
<!-- About Expansion -->
                <q-expansion-item expand-separator icon="info" label="About" :content-inset-level="0.3">
                  <!-- Item -->
                  <q-item clickable v-close-popup v-ripple to="/user/about">
                    <q-item-section>About the website</q-item-section>
                  </q-item>

                  <q-item clickable v-close-popup v-ripple to="/user/editorial-board">
                    <q-item-section>Editorial board</q-item-section>
                  </q-item>
                </q-expansion-item>
<!-- End About Expansion -->
<!-- Policy Expansion -->
                <q-expansion-item expand-separator icon="policy" label="Policy" :content-inset-level="0.3">
                  <!-- Item -->
                  <q-item clickable v-close-popup v-ripple to="/user/open-access-policy">
                    <q-item-section>Open Access Policy</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup v-ripple to="/user/copyright-policy">
                    <q-item-section>Copyright Policy</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup v-ripple to="/user/publication-ethics">
                    <q-item-section>Publication Ethics</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup v-ripple to="/user/plagiarism-screening">
                    <q-item-section>Plagiarism Screening</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup v-ripple to="/user/grammar-screening">
                    <q-item-section>Grammar Screening</q-item-section>
                  </q-item>
                </q-expansion-item>
<!-- End Policy Expansion -->
                <q-item clickable v-close-popup v-ripple to="/user/contact">
                  <q-item-section avatar>
                    <q-icon name="contact_support" />
                  </q-item-section>
                  <q-item-section>
                    Contact us
                  </q-item-section>
                </q-item>

                <q-separator />

                <q-item clickable v-ripple v-close-popup to="/user/publish-article">
                  <q-item-section avatar>
                    <q-icon name="publish" />
                  </q-item-section>
                  <q-item-section>Publish Article</q-item-section>
                </q-item>

                <q-separator />

                <q-item clickable v-close-popup @click="logOut()">
                  <q-item-section avatar>
                    <q-icon name="logout" />
                  </q-item-section>
                  <q-item-section>
                    Log out
                  </q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>
    <!-- Content -->
    <q-page-container>
      <router-view />
    </q-page-container>
    <!-- End Content -->
    <q-footer elevated class="landing-footer">
      <div class="footer-design q-pt-md q-px-xl">
        <div class="footer-style">
          <q-avatar class="footer-logo">
            <q-img src="../assets/PSAU_logo.png" />
          </q-avatar>
          <div class="footer-title q-pl-md">
            Pampanga State Agricultural University Journals Magalang, Pampanga
          </div>
        </div>
        <div class="footer-contact">
          PAC, Magalang <br />
          Pampanga, 2011 <br />
          Philippines
          <div>editorjsit2022@psau.edu.ph</div>
        </div>
      </div>
      <div class="btn-terms q-pt-xl">
        <q-btn flat class="btn-label" label="Disclaimer" />
        <q-btn flat class="btn-label" label="Copyright and Licensing" />
        <q-btn flat class="btn-label" label="Terms of Services" />
        <q-btn flat class="btn-label" label="Privacy Policy" />
      </div>
    </q-footer>
  </q-layout>
</template>

<script setup>
import { ref } from 'vue';
import { reactive } from '@vue/reactivity';
import { onMounted } from '@vue/runtime-core';
import api from 'src/js/api.js';
import { useRouter } from 'vue-router';

const router = useRouter()

// Front end and Back end connection
let data = reactive({
  showLoginPopup: false,
  list: [],
  api: "user",
})

onMounted(() => {
  getList();
})

function getList() {
  api.get(data.api)
    .then((res) => (data.list = res.data))
    .catch((err) => console.error(err))
}

function logOut() {
  localStorage.clear()
  router.push('/')
}

</script>

<style lang="scss">
.s-header {
  background-color: $h-primary;
}

.desktop-menu {
  display: flex;
  align-content: center;

  // @media (max-width: 1023px) {
  //   display: none;
  // }
}

.h-logo {
  width: 100%;
  height: 100%;
}

.l-tab {
  font-size: 14px;
}

.header-logo {
  max-width: 60px;

  @media (max-width: 1024px) {
    max-width: 45px;
  }
}

.journal-name {
  font-size: 16px;

  @media(max-width:768px) {
    font-size: 14px;
    display: none;
  }

  @media(max-width:425px) {
    display: none;
  }
}

// footer
.footer-logo {
  width: 100%;
  max-width: 140px;
  height: 100%;
  max-height: 140px;

  @media (max-width: 1023px) {
    max-width: 120px;
  }
}

.footer-style {
  @media (max-width: 1023.99px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.footer-title {
  @media (max-width: 1023.99px) {
    display: none;
  }

  @media (min-width: 1024px) {
    display: inline-flex;
    text-align: start;
  }
}

.footer-contact {
  padding-top: 24px;
  font-size: 12px;
  text-align: center;
  justify-content: center;

  @media (min-width: 1024px) {
    font-size: 14px;
    text-align: end;
    align-content: center;
  }
}

.footer-design {
  @media (max-width: 1023.99) {
    display: flex;
    font-size: 14px;
    text-align: center;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
  }
}

.landing-footer {
  background-color: $h-primary;

  @media (max-width: 1023.99px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
    justify-content: center;
  }
}

.btn-terms {
  padding-top: 24px;
  display: flex;
  justify-content: center;

  @media (min-width: 1024px) {
    font-size: 12px;
    display: flex;
    align-content: center;
  }
}

.btn-label {
  font-size: 8px;
  margin-bottom: 10px;

  @media (min-width: 1024px) {
    font-size: 12px;
  }
}

// end footer
</style>