<template>
  <q-page id="ChangePasswordPage" class="row">
    <q-card flat bordered class="col-md-4 forgot-password-card-container q-mx-auto q-my-xl">
      <q-card-section class="q-mx-auto" style="max-width: 600px">
        <div class="q-mt-lg text-grey-8" style="font-size: 21px">Reset Password 🔒️</div>
        <div class="text-caption q-mt-xs q-mb-lg" style="color: rgb(105, 122, 141); font-size: 15px;">for {{ route.query.email }}</div>

        <change-password-form />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import ChangePasswordForm from 'src/components/ChangePasswordForm.vue'
import { reactive } from 'vue';
import { useRoute, useRouter } from 'vue-router';
export default {
    components: { ChangePasswordForm },
    setup() {
      const route = useRoute()
      const router = useRouter()
      let data = reactive({
        form: {},
      });
    
      return {
        data,
        route,
        router,
      }
    }
}
</script>

<style lang="sass">

</style>