<template>
  <div class="q-pa-xl" style="width: 100%; max-width: 1200px;">
      <q-card class="q-py-xl q-px-lg">
          <div class="row q-mx-auto">
                <div class="content-container col-12 col-xs-12 col-md-6">
                    <div class="logo-container">
                        <img
                            src="../../assets/PSAU_logo.png"
                            class="card-logo"
                        />
                    </div>
                    <div class="text-container">
                        <div class="main-text">
                            Lets find your account
                        </div>
                        <div class="sub-text">
                            Enter your email and we'll send you instructions to reset your password.
                        </div>
                    </div>
                </div>
                <div class="form-container col-12 col-xs-12 col-md-6">
                    <ForgotPasswordForm/>
                </div>
          </div>
          
      </q-card>
    </div>
</template>
<script>
import ForgotPasswordForm from 'src/components/ForgotPasswordForm.vue';

export default {
  components: { ForgotPasswordForm }
}
</script>
<style lang="scss">

.col {
    @media (max-width:1023px) {   
        width: 100%;
    }
}

.logo-container {
    width: 100%;
    @media (max-width: 1023px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.card-logo {
    width: 120px;
    @media (min-width: 1024px) {
        padding-bottom: 15px;
    }
}

.main-text {
    font-size: 24px;
    @media (max-width: 1023px) {
        font-weight: bold;
        display: flex;
        justify-content: center;
        font-size: 18px;
        padding-bottom: 10px;
    }
}

.sub-text {
    @media (min-width: 1024px) {
        font-size: 18px;
        padding-right: 20px;
    }
    @media (max-width: 1023px) {
        display: flex;
        justify-content: center;
        font-size: 14px;
        padding-bottom: 15px;
    }
}

.form-container {
    // mobile first design, always min-width
    font-size: 14px;

    @media (min-width: 1024px) {
        display: block;
        align-content: center;
        width: 150px;
    }
    @media (max-width: 1023px) {
        display: block;
        justify-content: center;
        font-size: 14px;
        padding-bottom: 15px;
        width: 100%;
    }
}
</style>