<template>
  <div>
    <q-table 
      :columns="columns" 
      :rows="authors" 
      :filter="data.tableFilter" 
      table-header-class="text-white bg-primary"
      wrap-cells 
      flat
    >
      <template v-slot:top>
        <q-input borderless dense debounce="300" v-model="data.tableFilter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template #body-cell-full_name="props">
        <q-td :props="props">
          <span>{{ `${props.row.first_name} ${props.row.last_name ?? ''}` }}</span>
        </q-td>
      </template>

      <!-- Position Template -->
      <template #body-cell-actions="props">
        <q-td :props="props" class="text-no-wrap">
          <q-btn title="Edit" icon="edit" color="primary" flat round dense @click='onEditHandler(props.row)' />

          <q-btn title="Delete" icon="delete" color="negative" flat round dense @click='onDeleteHandler(props.row)' />
        </q-td>
      </template>
    </q-table>

    <show-details-popup v-if="data.showUserPopup" @onClose="data.showUserPopup = false" headerBgPrimary noOk persistent
      :width="'600'">
      <template #title>{{ data.selectedModel.id ? `Update ${data.selectedModel.first_name}` : 'Add User' }}</template>

      <template #content>
        <user-form :model="data.selectedModel" @onSubmit="submitUserHandler" class="q-pt-lg" />
      </template>
    </show-details-popup>
  </div>
</template>

<script setup>
import api from 'src/js/api';
import dialog from 'src/utils/dialog';
import notify from 'src/utils/notify';
import { computed, onMounted, reactive, ref } from 'vue';
import ShowDetailsPopup from 'src/components/shared/ShowDetailsPopup.vue';
import UserForm from '../users/UserForm.vue';
import { ROLE_OPTIONS } from 'src/constants/role-options';

const filteredData = computed(() => {
  return data.list.filter(data => data.role_code === 3);
});

const columns = [
  {
    label: 'Full Name',
    name: 'fullname',
    field: 'fullname',
    align: 'left',
    sortable: true
  },
  {
    label: 'Email',
    name: 'email',
    field: 'email',
    align: 'left',
    sortable: true
  },
  {
    label: 'Affiliate',
    name: 'affiliate',
    field: 'affiliate',
    align: 'left',
    sortable: true
  },
  {
    label: 'Address',
    name: 'address',
    field: 'address',
    align: 'left',
    sortable: true
  },
]

let data = reactive({
  list: [],
  selectedModel: {},
  tableFilter: '',
  showUserPopup: false,
  api: 'authors',
})
const authors = ref([])

onMounted(() => {
  getAuthors()
})

const getAuthors = () => {
  api.get(data.api)
    .then((response) => {
      if (response.data.length > 0) {
        authors.value = response.data
      }
    })
    .catch((error) => console.error(error));
}

const onEditHandler = (model) => {
  data.showReviewerPopup = true
  data.selectedModel = model
}

const onDeleteHandler = (model) => {
  dialog.confirmDelete(() => {
    api.delete(`${data.api}/${model.id}`)
      .then(response => {
        notify.setup(res.data, 'Successfully Deleted');

        if (res.data) data.list = data.list.filter(x => x.id != model.id);
      })
      .catch(error => console.error(error))
  });
}
</script>