.small-screen-only {
  @media (max-width: 1023.99px) {
    display: block;
  }
  
  @media (min-width: 1024px) {
    display: none;
  }
}

.large-screen-only {
  @media (max-width: 1023.99px) {
    display: none;
  }
  
  @media (min-width: 1024px) {
    display: block;
  }
}

.constraints-lg {
  max-width: 1360px;
  margin: 0 auto;
}