<template>
    <div id="UserForm">
        <q-form @submit="onSubmit" class="row q-col-gutter-md">
            <div class="col-4">
                <q-input
                    label="First Name"
                    v-model="data.form.first_name"
                    :rules="[setRules]"
                    hide-bottom-space
                    dense
                />
            </div>

            <div class="col-3">
                <q-input
                    label="Middle Name"
                    v-model="data.form.middle_name"
                    dense
                />
            </div>

            <div class="col-3">
                <q-input
                    label="Last Name"
                    v-model="data.form.last_name"
                    :rules="[setRules]"
                    hide-bottom-space
                    dense
                />
            </div>

            <div class="col-2">
                <q-input
                    label="Suffix"
                    v-model="data.form.suffix"
                    :rules="[setRules]"
                    hide-bottom-space
                    dense
                />
            </div>

            <div class="col-6">
                <q-input
                    label="Email"
                    type="email"
                    v-model="data.form.email"
                    :rules="[setRules]"
                    hide-bottom-space
                    dense
                />
            </div>
            
            <div class="col-6">
                <q-input
                    label="Contact Number"
                    v-model="data.form.contact_number"
                    dense
                />
            </div>
            
            <div class="col-6" v-if="!data.form.id">
                <q-input
                    label="Password"
                    type="password"
                    v-model="data.form.password"
                    :rules="[setRules]"
                    hide-bottom-space
                    dense
                />
            </div>
            
            <div class="col-6" v-if="!data.form.id">
                <q-input
                    label="Confirm Password"
                    type="password"
                    v-model="data.form.password_confirmation"
                    :rules="[setRules]"
                    hide-bottom-space
                    dense
                />
            </div>
            
            <div class="col-6">
                <q-file
                    label="Profile Picture"
                    v-model="data.form.profile_picture"
                    accept="image/*"
                    dense
                >
                    <template v-slot="prepend">
                        <q-icon name="attach_file"/>
                    </template>
                </q-file>
            </div>

            <div class="col-6">
                <q-input
                    label="Birthdate"
                    v-model="data.form.birthdate"
                    readonly
                    dense>
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy
                                cover
                                transition-show="scale"
                                transition-hide="scale"
                            >
                                <q-date v-model="data.form.birthdate" />
                            </q-popup-proxy>
                        </q-icon>
                    </template>
                </q-input>
            </div>

            <div class="col-12 col-sm-6">
                <q-select
                    label="Roles"
                    v-model="data.form.role_code"
                    :options="data.roleOptions"
                    map-options
                    emit-value
                    dense
                >
                    <template v-slot:no-option>
                        <q-item>
                            <q-item-section class="text-grey">
                                No results
                            </q-item-section>
                        </q-item>
                    </template>
                </q-select>
            </div>
            <q-space />
            <div>
                <q-btn
                    class=""
                    type="submit"
                    :label="(data.form.id > 0) ? 'Update User' : 'Add User'"
                    color="primary"
                    :loading="data.form.loading"
                    no-caps
                />
            </div>
        </q-form>
    </div>
</template>

<script>
import api from "src/js/api";
import { reactive } from "@vue/reactivity";
import notify from "src/utils/notify";
import { onMounted } from 'vue';
import { ROLE_OPTIONS } from 'src/constants/role-options';
export default {
    props: ["model"],
    emits: ["onSubmit"],
    setup(props, { emit }) {
        let data = reactive({
            form: props.model ?? {},
            errors: {},
            api: "users",
            roleOptions: ROLE_OPTIONS
        });

        onMounted(() => {
            data.form.currentEmail = data.form.email;
        })

        function onSubmit() {
            data.form.loading = true;
            // set api url
            const userApiUrl = `${data.api}${data.form.id > 0 ? '/' + data.form.id : ''}` 

            api.post(userApiUrl, data.form)
                .then((res) => {
                    notify.setup(!!res.data);

                    if (res.data) emit("onSubmit");
                })
                .catch((err) => {
                    console.error(err);
                })
                .finally(() => {
                    data.form.loading = null;
                });
        }

        return {
            data,
            onSubmit,

            setRules,
        };
    },
};
</script>

<style>
</style>