<template>
    <div id="UserList">
        <q-table :columns="columns" :rows="data.list" :filter="data.tableFilter"
            table-header-class="text-white bg-primary" wrap-cells flat>
            <template v-slot:top>
                <q-btn @click="
                    (data.showUserPopup = true),
                    (data.selectedModel = {})
                    " label="Add User" style="margin-left: -15px" color="primary" icon="add" no-caps />

                <q-space />

                <q-input borderless dense debounce="300" v-model="data.tableFilter" placeholder="Search">
                    <template v-slot:append>
                        <q-icon name="search" />
                    </template>
                </q-input>
            </template>

            <template #body-cell-full_name="props">
                <q-td :props="props">
                    <span>{{ `${props.row.first_name} ${props.row.last_name ?? ''}` }}</span>
                </q-td>
            </template>

            <!-- Role Template -->
            <template #body-cell-role="props">
                <q-td :props="props">
                    <q-select
                      label="Roles"
                      v-model="props.row.role_code"
                      @update:model-value="val => updateRoleCodeHandler(props.row.id, val)"
                      :options="data.roleOptions"
                      map-options
                      emit-value
                      dense
                    >
                        <template v-slot:no-option>
                            <q-item>
                                <q-item-section class="text-grey">
                                    No results
                                </q-item-section>
                            </q-item>
                        </template>
                    </q-select>
                </q-td>
            </template>

            <template #body-cell-actions="props">
                <q-td :props="props" class="text-no-wrap">
                    <q-btn @click="onEditHandler(props.row)" title="Edit" icon="edit" color="primary" flat round
                        dense />

                    <q-btn @click="onDeleteHandler(props.row)" title="Delete" icon="delete" color="negative" flat round
                        dense />
                </q-td>
            </template>
        </q-table>

        <show-details-popup v-if="data.showUserPopup" @onClose="data.showUserPopup = false" headerBgPrimary noOk
            persistent :width="'600'">
            <template #title>{{ data.selectedModel.id ? `Update ${data.selectedModel.first_name}` : 'Add User'
                }}</template>

            <template #content>
                <user-form :model="data.selectedModel" @onSubmit="submitUserHandler" class="q-pt-lg" />
            </template>
        </show-details-popup>
    </div>
</template>

<script setup>
import { reactive, ref } from "@vue/reactivity";
import { onMounted } from "@vue/runtime-core";
import api from 'src/js/api';
import { ROLE_OPTIONS } from 'src/constants/role-options';
import dialog from 'src/utils/dialog';
import notify from 'src/utils/notify';
import ShowDetailsPopup from '../../shared/ShowDetailsPopup.vue';
import UserForm from './UserForm.vue';

const columns = [
    {
        label: "Full Name",
        name: "full_name",
        field: "full_name",
        align: "left",
        sortable: true,
    },
    {
        label: "Email",
        name: "email",
        field: "email",
        align: "left",
        sortable: true,
    },
    {
        label: "Contact Number",
        name: "contact_number",
        field: "contact_number",
        align: "left",
        sortable: true,
        format: x => x ?? '-'
    },
    {
        label: "Role",
        name: "role",
        field: "role",
        align: "left",
        sortable: true,
    },
    {
        label: "Actions",
        name: "actions",
        field: "actions",
        align: "right",
    },
];

let data = reactive({
    list: [],
    api: `users`,
    tableFilter: "",
    showUserPopup: false,
    roleOptions: ROLE_OPTIONS
});

const authors = ref([])

onMounted(() => {
    getUsers();
});

const getUsers = () => {
    api.get(data.api)
        .then((res) => (data.list = res.data))
        .catch((err) => console.error(err));
}

function onEditHandler(model) {
    data.showUserPopup = true;
    data.selectedModel = model;
}

function onDeleteHandler(model) {
    dialog.confirmDelete(() => {
        api.delete(`${data.api}/${model.id}`)
            .then(res => {
                notify.setup(res.data, 'Successfully deleted');

                if (res.data) data.list = data.list.filter(x => x.id != model.id);
            })
            .catch(err => console.error(err));
    });
}

function updateRoleCodeHandler(userId, role) {
    api.post(`users/update/role/${userId}`, { role_code: role })
        .then(response => {
            notify.setup(response.data, "Role updated successfully")
        })
        .catch(error => {
            console.error(error)
        })
}

function submitUserHandler() {
    data.showUserPopup = false
    getUsers;
}
</script>

<style></style>