<template>
  <div>
    <q-table
      :columns="columns"
      :rows="contacts"
      :filter="tableFilter"
      table-header-class="text-white bg-primary"
      wrap-cells
      flat
    >
      <template v-slot:top>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="tableFilter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template #body-cell-full_name="props">
        <q-td :props="props">
          <span>{{ `${props.row.first_name} ${props.row.last_name}` }}</span>
        </q-td>
      </template> 

      <template #body-cell-actions="props">
        <q-td :props="props" class="text-no-wrap">
          <q-btn
            @click="showPopupHandler(props.row)"
            title="Show Details"
            icon="visibility"
            color="primary"
            flat
            round
            dense
          />

          <q-btn
            @click="deleteHandler(props.row)"
            title="Delete"
            icon="delete"
            color="negative"
            flat
            round
            dense
          />
        </q-td>
      </template>
    </q-table>

    
    <ShowDetailsPopup
      v-if="showPopup"
      @onClose="showPopup = false"
      headerBgPrimary
      noOk
      persistent
      :width="'600'"
    >
      <template #title>{{ selectedContact.first_name + ' ' + selectedContact.last_name }}</template>

      <template #content>
        <div class="q-pt-md">
          <div class="flex items-center q-mb-lg">
            <q-avatar class="q-mr-md">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>

            <div>
              <div class="text-subtitle1">{{ selectedContact.first_name + ' ' + selectedContact.last_name }}</div>
              <div class="text-grey-9 text-caption">{{ selectedContact.email }}</div>
            </div>
          </div>
          <div>{{ selectedContact.message }}</div>
        </div>
      </template>
    </ShowDetailsPopup>
  </div>
</template>

<script setup>
import api from 'src/js/api';
import { onMounted, ref } from 'vue';
import ShowDetailsPopup from "../../shared/ShowDetailsPopup.vue";
import dialog from 'src/utils/dialog';
import notify from 'src/utils/notify';

const columns = [
  {
    label: "Full Name",
    name: "full_name",
    field: "full_name",
    align: "left",
    sortable: true,
  },
  {
    label: "Email",
    name: "email",
    field: "email",
    align: "left",
    sortable: true,
  },
  {
    label: "",
    name: "actions",
    field: "actions",
    align: "right",
  },
];

const apiMainUrl = 'contacts'
const tableFilter = ref('')
const showPopup = ref(false)
const contacts = ref([])
const selectedContact = ref({})

onMounted(() => {
  getContacts()
})

const getContacts = () => {
  api.get(apiMainUrl)
    .then((response) => {
      contacts.value = response.data
    })
    .catch((error) => {
      console.log(error)
    })
}

const showPopupHandler = (contact) => {
  selectedContact.value = contact
  showPopup.value = true
}

const deleteHandler = (contact) => {
  dialog.confirmDelete(
    () => {
      api.delete(`${apiMainUrl}/${contact.id}`)
        .then(response => {
          notify.setup(response.data, 'Contact deleted successfully')
          
          if (response.data) {
            getContacts()
          }
        })
        .catch((error) => {
          console.log(error)
        })
    }
  )
}
</script>